﻿
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('/shop/pcb/resources/font/ProximaNovaRegular.woff') format('woff');
}

body {
    font-family: "ProximaNovaRegular" !important;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

body {
    background-color: #EDEDED;
}

 
#ecbomlist_processing {
    position: fixed;
    padding: 9% 0px 0px 34%;
}



div.dataTables_wrapper div.dataTables_info {
    padding-top: 15px;
    white-space: nowrap;
    float: left;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    float: left;
    padding-top: 15px;
    margin-left: 38%;
}

body.ecbomlist div.dataTables_wrapper.dt-bootstrap .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: 0;
}

.dataTables_paginate {
    display: inline-block;
}

    .dataTables_paginate > a {
        color: #555;
        float: left;
        padding: 6px 16px;
        text-decoration: none;
        border: 1px solid #ccc;
        cursor: pointer;
    }

.paginate_button {
    color: #555;
    float: left;
    padding: 6px 16px;
    text-decoration: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

    .paginate_button a:hover {
        text-decoration: none;
        color: #2a9f00;
    }

.current {
    background-color: #f7f7f7;
    border-color: #e1dfdf;
    color: #2a9f00;
}

.previous {
    color: #555;
}

a.previous:hover {
    text-decoration: none;
    color: #2a9f00;
}

a.next {
    color: #555;
}

    a.next:hover {
        background-color: #f7f7f7;
        text-decoration: none;
        color: #2a9f00;
    }

#tblList a {
    text-decoration: none;
    cursor: pointer !important;
}

a.disabled {
    cursor: no-drop;
    background-color: white;
    color: #ccc;
}

.jumbotron {
    margin-bottom: 18px;
}

.categorydiv {
    border: 1px solid #ddd;
    /*padding: 8px;*/
    height: 800px;
    overflow-x: auto;
}

.space {
    padding-bottom: 20px;
}

.customers {
    border-collapse: collapse;
    width: 100% !important;
    border: 1px solid #ddd;
    font-size: 13px !important;
}

    .customers td, .customers th {
        /*border: 1px solid #ddd;*/
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .customers td {
        height: 90px;
    }

    .customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #f7f7f7;
        color: #555;
        text-align: left;
    }

.borderspace {
    padding-top: 15px;
}

.section-nav {
    padding-left: 0;
}

ul {
    padding-left: 0px;
}

li {
    text-align: -webkit-match-parent;
    /*margin-top: 5px;*/
}

.hidetext {
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-nav, .toc-entry {
    display: block;
}


/*.toc-entry a {
        display: block;
        padding: .125rem 1.5rem;
        color: #555;
        font-size: 90%;
        padding-left: 10%;
    }*/
.toc-entry {
    display: block;
    padding: .125rem 1.5rem;
    color: #555;
    font-size: 90%;
    padding-left: 10%;
}

    .toc-entry:hover {
        color: #2a9f00;
        text-decoration: none;
        cursor: pointer;
    }

.toc-entryoption {
    display: block;
    padding: .125rem 1.5rem;
    color: #555;
    font-size: 90%;
    padding-left: 10%;
}

li a:hover {
    color: #2a9f00;
    text-decoration: none;
}

.toc-h2 {
    display: block;
}

    .toc-h2 a {
        display: block;
        color: #99979c;
    }

a:active {
    text-decoration: none;
    color: #2a9f00;
}

span a:hover {
    text-decoration: none;
    color: #2a9f00;
}

.input-group-prepend {
    display: flex;
}

.formcontrol {
    /*margin-right: -1px;*/
    display: block;
    width: 22%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: linear-gradient(#ededed, white);
    border: 1px solid #ccc;
    border-radius: 0px 0px 0px 0px;
}

.ddlcategorycss {
    width: 100%;
    font-weight: bold;
    color: #2a9d00;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#ddlallcategorynew option {
    color: gray;
}

.input-group {
    padding-bottom: 15px;
}

.innertext {
    border: 0;
    box-sizing: border-box;
    cursor: text;
    width: 73%;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    height: 32px;
}

@media (max-width: 1331px) {
    .innertext {
        width: 70% !important;
    }
}

@media (max-width: 700px) {
    .innertext {
        width: 60% !important;
    }
}

.ecpartDA {
    display: block;
    display: inline;
    height: 20px;
    font-size: 25px;
    color: green;
    /*cursor: pointer;*/
}

.textleft {
    text-align: left;
    margin-left: 16px;
}


.searchbox {
    position: relative;
    /*display: table-cell;*/
    vertical-align: top;
    /*width: 100%;*/
    /*border-left: 1px solid #ccc;*/
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #ffff;
}

#spmodal {
    margin-right: 2px;
    margin-top: -30px;
    float: right;
    padding: 3px;
    font-size: 12px;
    color: #555;
    border: solid 1px white;
    background-repeat: no-repeat;
    background-position: 90% 2px;
    padding-right: 18px;
    position: relative;
    background-image: url(//www.digikey.com/-/media/images/generic/dn.gif);
}

    #spmodal:hover {
        color: #555;
        border: solid 1px #ccc;
        border-radius: 3px;
        background-color: #eee;
        cursor: pointer;
    }

.dataTables_length {
    display: none;
}



input[type=checkbox] {
    vertical-align: middle;
}


.padright {
    padding-right: 0px !important;
}



#ecbomlist table tr:nth-child(even) {
    background-color: #fbfbfb;
}



.chkbox {
    /*background-color: #f3f3f3 !important;
    padding: 10px;*/
    margin-left: -5px;
    margin-bottom: 0px !important;
}

.filterdiv {
    padding-bottom: 5px;
    font-weight: bold;
    color: #555;
}

label.filterdiv {
    font-size: 12px;
    font-weight: normal;
}

/*label {
    font-size: 12px;
    font-weight: normal;
    color: #555 !important;
}*/

.topspace {
    padding-top: 0px;
}

.ddlbgcolor {
    background-image: linear-gradient(#ededed, white) !important;
}

.btn-default {
    color: #fff !important;
    background-color: #2a9d00 !important;
    border-color: #2a9d00 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

    .btn-default:active:focus, .btn-default:active:hover, .btn-default:hover {
        color: #fff !important;
        background-color: #2a9f00 !important;
        border-color: #2a9f00 !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

.modal-title {
    font-weight: bold;
}

label {
    font-size: 12px;
    font-weight: unset !important;
    color: #555 !important;
}

.topbtn {
    float: right;
    margin-bottom: 5px !important;
    /*display:none !important;*/
}

.bottumbtn {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    /*display:none !important;*/
}

.mtperc4 {
    margin-top: 4%;
}

.mt10 {
    margin-top: 10px;
}

.floatleft {
    float: right;
}

.ml5 {
    margin-left: 5px;
}

.mtecbomheder {
    /*margin-top:2%;*/
}

.ecbomheader {
    font-size: 24px;
    color: #2a9f00 !important;
}

.clsbomicon {
    cursor: pointer;
    margin-top: 7px;
}

.bomloadder {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 100px;
    height: 30px;
    font-size: 14px;
    text-justify: auto;
    z-index: 1000;
    border: 1px solid #2a9d00;
    border-radius: 4px;
    padding: 3px 0px 0px 10px;
    background: #2a9d00 !important;
    color: white;
    display: none;
}

.trashbom {
    float: right;
    margin-right: 5px;
    cursor: pointer;
    font-size: 20px !important;
    color: #dedede;
    /*display:none!important;*/
}

tr:hover .trashbom {
    color: #EC7070;
    /*display:inline-block!important;*/
}

.OverLay {
    display: none;
}

#callaction {
    bottom: 25px;
    display: none;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-ecbom {
    color: #2a9d00 !important;
    background-color: #fff !important;
    border-color: #2a9d00 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

    .btn-ecbom:active:focus, .btn-ecbom:active:hover, .btn-ecbom:hover {
        color: #fff !important;
        background-color: #2a9f00 !important;
        border-color: #2a9f00 !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

.txt-ecbom {
    border: 1px solid #BBBBBB !important;
}

.searchtype {
    margin-top: 15px;
}

#tg-container {
    width: 200px;
    height: 34px;
    margin: auto;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    font-size: .4em;
    float: left;
}

.inner-container {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    /*text-transform: uppercase;*/
    font-size: .6em;
    letter-spacing: .2em;
}

    .inner-container:first-child {
        background: #e9e9e9;
        color: #a9a9a9;
    }

    .inner-container:nth-child(2) {
        background: #2a9f00;
        color: white;
        clip-path: inset(0 50% 0 0);
        transition: .3s cubic-bezier(0,0,0,1);
    }

.toggle {
    width: 50%;
    position: absolute;
    height: inherit;
    display: flex;
    box-sizing: border-box;
}

    .toggle p {
        margin: auto;
    }

    .toggle:nth-child(1) {
        right: 0;
    }

.curpointer {
    cursor: pointer;
}

.ecbomnote {
    font-size: 12px;
    font-style: italic;
    color: darkgray;
}

.searchheader {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
    float: right;
    /*border-collapse: separate;*/
}



.imgecpartbom {
    min-width: 50px;
    max-width: 60px;
    max-height: 60px;
}

.imgecpartlist {
    /*min-width: 50px;*/
    max-width: 60px;
    max-height: 60px;
}

.bomcartlabel {
    margin-top: 10px;
    margin-right: 5px;
    color: #2a9d00 !important;
    font-size: 14px;
    cursor: pointer;
    float: right;
    display: none;
}

.clsstock {
    font-size: 20px !important;
    color: #2a9d00;
}

.ecpartrohs {
    display: block;
    display: inline;
    height: 20px;
    font-size: 20px;
    color: #2a9d00;
}

.clsnotinstock {
    font-size: 20px !important;
    color: #b9bbb9;
}


.cart {
}
/* Needed for animation later */
.product {
    position: relative;
    height: 100%;
    width: 100%;
}

.product-wrapper {
    position: fixed;
    width: 200px;
    background: rgba(255, 154, 158, 0.4);
    margin: calc(50vh - 125px) auto 0;
    border-radius: 5px;
}

.product__add-to-cart-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: white;
    background-color: #2a9f00;
    text-align: center;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
/* ----------------- ANIMATION THINGS -----------------*/
.cart-animation-helper {
    margin: 0 20%;
    width: 0;
    height: 0;
}

    .cart-animation-helper:after {
        opacity: 0;
        border-radius: 0%;
        max-height: 250px;
        max-width: 200px;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        height: 250px;
        width: 200px;
        background-color: red;
        transition: transform 0.8s ease-out, margin 0.8s ease-out, opacity 0.8s ease-out, border-radius 0.4s ease-out, max-height 0.4s ease-out, max-width 0.4s ease-out;
    }
/* 
 * To create the animation curve I used this tutorial: http://tobiasahlin.com/blog/curved-path-animations-in-css/ 
 * and modified it to use the idea with transitions. This way, the animation can be used to generate
 * dynamic values for translate with JavaScript (not in this example).
 */
body {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67917a', endColorstr='#ccbf82',GradientType=1);
}

.posfix {
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 3000;
}

.ecpartlbl {
    float: right;
    margin-right: 10px;
    margin-top: 1px;
    width:100px;
}
.ec-on-demand{
    cursor:pointer;
}

.modal-dialog-bom {
    width: 98% !important;
    height: 95% !important;
    margin: 15px !important;
}

    .modal-dialog-bom .modal-content {
        margin: 10px;
        width: 98% !important;
        height: 95% !important;
    }

#iframebom {
    width: 100%;
    height: 91%;
}

.divbomgrid {
    height: 304px;
}

.divTable {
    height: 304px !important;
}

.Bompageheader {
    /*height: 250px;*/
    /*border: 1px solid #ddd;*/
    margin-bottom: 15px;
}

.martopcategory {
    margin-top: 50px;
}

.ecpartbanner {
    width: 100%;
    /*height: 200px;*/
}

.imgfootprintmodal {
    /*height: 200px;*/
    border: 1px solid #ddd;
    width: 100%;
}

.footprintbtn {
    /*margin-left: 8px;*/
    margin-left: 6%;
    margin-top: 10px;
}

.bgcolorset {
    background-color: #e1e1e1;
    color: #2a9d00;
}

.ddlcategorycss .toc-entry-option:checked {
    background-color: #e1e1e1 !important;
    color: #2a9d00 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#savedbom {
    display: none;
}

#ctl00_lnkimglogo {
    margin-left: 0px;
}
.sitelogo{
    margin-left: 3%;
}

#ctl00_lnkHome div {
    top: unset !important;
    bottom: 1px;
}

.categorydiv ul li {
    cursor: pointer !important;
}

    .categorydiv ul li a {
        color: black;
    }

        .categorydiv ul li a:hover {
            color: #2a9d00;
        }


.chkdft {
    height: 31px;
    border: 1px solid #ddd;
}

.modeliframebom {
    width: 98% !important;
    height: 98% !important;
}

.bom-body {
    overflow: unset !important;
}

.headerdiv-inright {
    color: #FFFFFF;
    font-size: 11px;
    padding: 10px 5px 0 0;
}

.footer {
    height: 35px !important;
}

.easy-autocomplete input {
    border: none;
    width: 100%;
}

.mainheader {
    color: #000000;
    background: url("../images/header.png") repeat-x scroll center top transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1032;
}

.pageloader {
    display: none;
    position: absolute;
    left: 45%;
    z-index: 20;
}

.mpnNumber {
    font-weight: bold;
}

.extraInfo {
    font-size: 11px;
    color: #a6a6a6;
    margin-bottom: 4px;
    font-weight: 500;
}

.extraInfo-ipc {
    font-size: 10px;
}

.suggested {
    font-size: 11px;
    color: #e8791c;
    margin-bottom: 4px;
    font-weight: 500;
}

.ipc {
    color: #bbb;
}

.basic-checkbox {
    margin: 0px 4px 0px 4px !important;
}

.features {
    color: #2a9d00;
}

.list {
    padding: 5px;
    cursor: pointer;
}

.fav {
    cursor: pointer;
}

.list:hover {
    color: orange;
}

.fav:hover {
    color: orange;
}

.searchResult {
    font-weight: bold;
    color: #2a9d00;
}

.divPrognew {
    background: #e8791c none repeat scroll 0 0;
    border-radius: 1px;
    color: #fff;
    font-size: 12px;
    padding: 5px 7px;
    position: fixed;
    z-index: 100000;
}

.Assemblycontainer {
    position: relative;
    margin-right: auto;
    min-height: 515px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-top: 100px;
}

.Assemblycontainer {
    width: 100%;
    top: 5px !important;
}


.collaction-fixed {
    position: fixed;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    background-color: #EEEEEE;
    border: 1px solid lightgray;
    z-index: 99;
    left: 22%;
}


.maincat {
    font-weight: bold;
    font-size: 14px;
    padding: .125rem 1.5rem;
    color: #555;
}

.cart-icon {
    background-color: red;
    color: white !important;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold !important;
    margin-bottom: -25px;
    text-align: center;
    height: 16px;
    width: 16px;
    display: none;
    margin-left: 7px;
    cursor: pointer;
    margin-top: -2px;
    position: absolute;
    z-index: 1;
}

.modal-open {
    overflow: unset;
    padding-right: 0px !important;
}

.formtext {
    width: 100%;
}

input[class="formtext"] {
    border: 1px solid #ccc;
    padding-top: 7px;
}

    input[class="formtext"]::content {
        border: 1px solid #2a9f00;
        padding-top: 7px;
    }

.highcharts-title {
    display: none;
}

.text-value {
    font-size: 16px !important;
    padding: 8px 5px !important;
    text-align: center !important;
    top: -12px !important;
    width: 26px !important;
    margin-left: 2px !important;
    cursor: context-menu !important;
}

.lable-counter {
    -moz-font-feature-settings: normal;
    background: none repeat scroll 0 0 #479347 !important;
    border: medium none !important;
    border-radius: 4px !important;
    box-shadow: none;
    color: #ffffff !important;
    cursor: pointer;
    display: inline !important;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 10px !important;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold !important;
    line-height: 14px;
    margin: 4px 4px 0 0 !important;
    padding: 4px !important;
    right: 0;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
    width: 17px;
}

.box-Chart {
    margin-left: 0px;
    border: solid 1px #ddd;
    padding: 10px;
    min-height: 150px;
    background-color: white;
}

.box-row {
    margin-left: 0px;
    margin-right: 0px;
    border: solid 1px #bbb;
    border-top: none;
    padding: 10px;
    background-color: white;
}

.dataTables_wrapper {
    background-color: white;
}

.box-select {
    margin-left: 0px;
    margin-right: 0px;
    border: solid 1px #ddd;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background-color: white;
    margin-top: 10px;
}

.box-drop {
    margin-left: 0px;
    margin-right: 0px;
    border: solid 1px #bbb;
    padding: 10px;
    background-color: white;
}

.bom-section .upload-copy-header {
    display: block;
    padding: 5px 10px;
    background-size: 100%;
    border-bottom: 1px solid #2a9d00;
    text-align: center;
    font-weight: 800;
    font-size: 13px;
    font-size: 1.3rem;
    color: #4C4D52;
    margin-bottom: 3px;
}

.drop-area-holder .upload-copy-pasted-list textarea, .modal-upload-content-holder .upcopy-pasted-listload- textarea {
    width: 100%;
    height: 143px;
    border: 1px solid #ffffff;
    resize: none;
    padding: 0 10px;
    line-height: 2em;
    background-color: #fff;
    background-image: linear-gradient(#2a9d0036 0.1em,rgba(0,0,0,0) 0.1em);
    background-size: 100% 2em;
    background-position: 0px -1px;
}




.bom-section .sample-holder p {
    text-align: left;
    margin: 10px 0;
}

.bom-section .sample-par {
    display: block;
    color: #5F7686;
    margin-top: 3px;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 500;
}

.drop-area-holder p, .modal-upload-content-holder p {
    font-size: 13px;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
}

.drag-drop-holder {
    padding: 10px;
    min-height: 143px;
}

.center-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.upload-button-holder {
    min-height: 110px;
}

.btn-select {
    position: relative;
    display: inline-block;
    *display: inline;
    padding: 7px 5px 7px 5px;
    background: #ffffff;
    background-image: linear-gradient(-180deg, #ffffff 0%,#f5f5f5 100%);
    border: 1px solid #2a9d00;
    font-size: 12px;
    font-size: 1.2rem;
    color: #2a9d00 !important;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

box-select input {
    color: #ddd;
}



.btn-select:hover {
    color: #2a9d00 !important;
}

.txtQty {
    width: 70px;
    border: 1px solid #ddd;
    line-height: 25px;
    border-radius: 2px;
    padding: 2px 7px 2px 7px;
}

.txtpartNumber {
    border: 1px solid #ddd;
    line-height: 25px;
    border-radius: 2px;
    font-family: FontAwesome,"ProximaNovaRegular" !important;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
   padding: 2px 7px 2px 7px;
}

.footer {
    color: #888;
    font-size: 11px;
    float: left;
    width: 100%;
    background-color: #353535;
    height: 25px;
    bottom: 0;
    left: 0;
    /* position: relative; */
    position: fixed;
}

.fr_left {
    float: left;
}

#drop-zone-home-ecpart{
    border: 2px dashed #2a9d00;
    padding: 50px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    /* margin-left: 20%; */
}

#drop-btn-home {
    margin-bottom: 8px;
}

#drop-icon-home {
    height: 4rem;
}

#drop-info-home {
    width: 100%;
    text-align: center;
    /* margin-left: 20%; */
    font-size: 0.8rem;
    color: #a09d9d;
    margin-top: 10px;
}
#drop-info-home-cpl {
    width: 100%;
    text-align: center;
    /* margin-left: 20%; */
    font-size: 0.8rem; 
    margin-top: 10px;
}

#drop-zone {
    border: 2px dashed #2a9d00;
    padding: 50px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    /* margin-left: 20%; */
}

#drop-title-home {
    /*font-size: 14px;*/
}

.ecpart-dropdata{
    font-size: 14px;
}
#drop-icon {
    height: 4rem;
}

#drop-info {
    width: 100%;
    text-align: center;
    /* margin-left: 20%; */
    font-size: 0.8rem;
    color: #a09d9d;
    margin-top: 10px;
}

.list-detail, .remove-tooltip {
    min-width: 200px;
    position: absolute;
    background: #ffffff;
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    z-index: 1050;
}

.remove-list-detail, .remove-tooltip {
    min-width: 100px;
    position: absolute;
    background: #ffffff;
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    z-index: 1050;
    padding: 10px;
    left:100px;
}

.reset-review-detail  {
    min-width: 100px;
    position: absolute;
    background: #ffffff;
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    z-index: 1050;
    padding: 10px;
    /*left:100px;*/
}
.ondemand-list-detail  {
    min-width: 100px;
    position: absolute;
    background: #ffffff;
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    z-index: 1050;
    padding: 10px;
    left:55%;
}

.master-list-detail, .remove-tooltip {
    min-width: 200px;
    /*position: fixed;*/
    position: absolute;
    /*right: 191px;*/
    right: 50px;
    background: #ffffff;
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    z-index: 1050; 
}

.select-dropdown-content.small-scroll {
    max-height: 200px;
    overflow-x: auto;
}

.select-dropdown-content {
    display: block;
    width: 100%;
}

.list-detail-title, .srp-list-button .select-dropdown-content a {
    padding: 7px 15px 7px 20px;
}

.remove-list-detail-title, .srp-list-button .select-dropdown-content a {
    padding: 7px 15px 7px 20px;
}

.master-list-detail-title, .srp-list-button .select-dropdown-content a {
    padding: 7px 15px 7px 20px;
}


.remove-master-list-detail-title, .srp-list-button .select-dropdown-content a {
    padding: 7px 15px 7px 20px;
}

.list-detail-title {
    background: #F5F5F5;
    padding: 7px 15px;
    border-bottom: 1px solid #DEDEDE;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px 0 0;
}

.master-list-detail-title {
    background: #F5F5F5;
    padding: 7px 15px;
    border-bottom: 1px solid #DEDEDE;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px 0 0;
}

.list-detail-content a {
   /*color: #2a9f00;*/
    color:black;
}

.master-list-detail-content a {
    /*color: #2a9f00;*/
    color:black;
}

.list-detail-content table {
    line-height:  1.5;/*2;*/
    /*margin-left: 10px;*/
}

.master-list-detail-content table {
    line-height: 1.5;
    /*margin-left: 10px;*/
}

.list-detail .additional-button, .remove-tooltip .additional-button {
    display: block;
    padding: 7px 15px;
    border-top: 1px solid #DEDEDE;
    background: #F5F5F5;
    font-size: 12px;
    font-size: 1.2rem;
    color: #2a9f00;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0;
    border-radius: 0 0 2px 2px;
}

.master-list-detail .additional-button, .remove-tooltip .additional-button {
    display: block;
    padding: 7px 15px;
    border-top: 1px solid #DEDEDE;
    background: #F5F5F5;
    font-size: 12px;
    /*font-size: 1.2rem;*/
    color: #2a9f00;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0;
    border-radius: 0 0 2px 2px;
}

#ctl00_logindiv {
    padding: 6px 12px !important;
}

.list-detail .icon-close, .remove-tooltip .icon-close {
    position: absolute;
    top: 6px;
    right: 5px;
    font-size: 10px;
    font-size: 1rem;
    color: #cbcbcb;
}

.master-list-detail .icon-close, .remove-tooltip .icon-close {
    position: absolute;
    top: 6px;
    right: 5px;
    font-size: 10px;
    font-size: 1rem;
    color: #cbcbcb;
}

.headerdiv-inright {
    margin-top: 17px !important;
    margin-right: 5px !important;
}

.headerbuttoneffect {
    background: none repeat scroll 0 0 #e5781d;
    border: medium none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    color: #fff !important;
    padding: 4px 7px;
}

.masterheaderlbl {
    margin-top: 22px;
}

.divProcessing ol {
    overflow-x: hidden;
    white-space: nowrap;
    height: 1em;
    width: 100%;
    height: 35px;
    text-align: center;
}

    .divProcessing ol li {
        display: inline-table;
        min-width: 121px;
        font-weight: 900;
        color: #4C4D52;
        font-size: 23px;
    }

.lst_file {
    color: white;
    height: 30px;
    cursor: pointer;
}

.lbl_un {
    color: white;
    /*background: #f26622;*/
    /*padding: 10px 10px 10px 10px;*/
    padding:0px 3px 0px 3px;
    border-radius: 3px;
    cursor: pointer;
}

.cart-m {
    margin: 0px 0px 0px 0px;
}

.lst_spn {
    color: white;
    margin-left: 5px;
    padding-left:2px;
}

.list-icn {
    font-size: 25px !important;
    margin-top: 7px;
}

.username_cls {
    /*width: 200px;*/
    /*max-width:100px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 4px 5px 3px;
    color: white;
    float:right;
}
.compname_cls{
    /*max-width:200px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 4px 5px 3px;
    color: white;
    float:right;
}

.tbl-media td {
    height: auto !important;
    padding: 4px;
    border-bottom: none;
}

.media-avail {
    color: #479347;
    cursor: pointer !important;
}

.mst-lst-dv {
    height: 139px;
    overflow: overlay;
    overflow-x: hidden;
    width: 250px;
}

.ec-lst-dv {
    height: 100px;
    overflow: overlay;
    width: 250px;
    overflow-x: hidden;
}
.cls-copy-caret{
    float: right;
    /*margin-right: 10px;*/
    margin-top: 3px;
    margin-left:5px;
}

.btn-disabled .down {
    border-top: 5px solid #d0bebe!important;
}
.lst-lbl {
    display: inline-block;
    width: 93%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor:pointer;
}
#tblList{
    width:100%;
}
 
#tblList tr:hover {
    background-color: #f5f5f5; 
    color:#2a9f00!important;
}  
#tblList tr:hover a {
    color:#2a9f00!important;
}
tblList1:hover{
    cursor:pointer;
}

#tblList1{
    width:100%;
}
 
#tblList1 tr:hover {
    background-color: #f5f5f5; 
    color:#2a9f00!important;
} 

.lst-ml-10{
    margin-left:10px;
} 
#ecbomlist tr{
    background-color:white;
}
.part-edit i{
    display:none;
}
.part-edit i{
    color:#e5781d;
    font-size: 15px;
    position:absolute;
    margin-left:5px;
    /*top: 85px;*/
    cursor:pointer;
}
.part-edit:hover i{
    display:inline;
}
.sp_mpn{
    color:#2a9d00 !important;
}
.part-comp-wid{
    width:80%!important;
}
.qty-width{
    width:20%!important;
}
.tbl-b-add td{
        padding: 0px 5px 0px 5px;
}
.txtrefdesc{
    width: 100%;
    border: 1px solid #ddd;
    line-height: 25px;
    border-radius: 2px;
    padding: 2px 7px 2px 7px;
}
.btn-alt-select{
    position: relative;
    display: inline-block;
    *display: inline;
    padding: 7px 5px 7px 5px;
    background: #2a9d00;
    /*background-image: linear-gradient(-180deg, #2a9d00 0%,#f5f5f5 100%);*/
    border: 1px solid #2a9d00;
    font-size: 12px;
    font-size: 1.2rem;
    color: #ffffff !important;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.btn-alt-select:hover{
    color:#2a9d00 !important;
    border-color:#2a9d00;
     background: #ffffff;
}
.refdes-col{
    max-width:200px;
     word-wrap: break-word;
}
 

.cls-type-ul {
    padding: 1px;
    list-style: none;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    cursor: pointer;
    /*width: 4.3rem;*/
}
.cls-bottype-ul {
    padding: 1px;
    list-style: none;
    background-color: #fff;
    /*border-radius: 0.25rem;*/
    border: 1px solid #ced4da;
    cursor: pointer;
    /*width: 4.3rem;*/
}

.cls-supply-ul {
    padding: 1px;
    list-style: none;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    cursor: pointer;
    /*width: 4.3rem;*/
}
.cls-botsupply-ul {
    padding: 1px;
    list-style: none;
    background-color: #fff;
    /*border-radius: 0.25rem;*/
    border: 1px solid #ced4da;
    cursor: pointer;
    /*width: 4.3rem;*/
}


.down {
    height: 0px;
    width: 0px;
    border: none;
    border-top: 5px solid #000000;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
}
.cls-type-ul li {
    display: block;
    position: relative;
    text-align: left;
    padding: 6px 0px 0px 5px;
    cursor: pointer;
    font-weight: 700;
}
.cls-bottype-ul li {
    display: block;
    position: relative;
    text-align: left;
    padding: 3px 0px 3px 7px;
    cursor: pointer;
    font-weight: 700;
}
.cls-supply-ul li {
    display: block;
    position: relative;
    text-align: left;
    padding: 6px 0px 0px 5px;
    cursor: pointer;
    font-weight: 700;
}

.cls-botsupply-ul li {
    display: block;
    position: relative;
    text-align: left;
    padding: 3px 0px 3px 7px;
    cursor: pointer;
    font-weight: 700;
}

.cls-type-ul li .dropdown {
    min-width: 100%; /* Set width of the dropdown */
    background: #fff;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    color: #333;
    padding: 0px;
    margin-top: 4px;
    cursor: pointer;
    min-width: 143px; 
    /*margin-left: -75px;*/
}
 
.cls-bottype-ul li .dropdown {
    min-width: 100%; /* Set width of the dropdown */
    background: #fff;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    color: #333;
    padding: 0px;
    margin-top: 4px;
    cursor: pointer;
    min-width: 143px;
    bottom:30px;
    /*margin-left: -75px;*/
}
.cls-supply-ul li .dropdown {
    min-width: 100%; /* Set width of the dropdown */
    background: #fff;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    color: #333;
    padding: 0px;
    margin-top: 4px;
    cursor: pointer;
    min-width: 143px; 
    /*margin-left: -75px;*/
}

.cls-botsupply-ul li .dropdown {
    min-width: 100%; /* Set width of the dropdown */
    background: #fff;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    color: #333;
    padding: 0px;
    margin-top: 4px;
    cursor: pointer;
    min-width: 143px; 
    bottom:30px;
    /*margin-left: -75px;*/
}

.cls-type-ul .dropdown {
    display: block; /* Display the dropdown */
}
.cls-bottype-ul .dropdown {
    display: block; /* Display the dropdown */
}
.cls-supply-ul .dropdown {
    display: block; /* Display the dropdown */
} 
.cls-botsupply-ul .dropdown {
    display: block; /* Display the dropdown */
}

.cls-type-ul  .dropdown li {
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    padding-bottom: 5px;
}

.cls-bottype-ul  .dropdown li {
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    padding-bottom: 5px;
}
.cls-supply-ul  .dropdown li {
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    padding-bottom: 5px;
}
.cls-botsupply-ul  .dropdown li {
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    padding-bottom: 5px;
}


.cls-type-ul .dropdown li:hover {
    background-color: #f26622;
    color: #fff;
}
 
.cls-bottype-ul .dropdown li:hover {
    background-color: #f26622;
    color: #fff;
}
.cls-supply-ul .dropdown li:hover {
    background-color: #f26622;
    color: #fff;
}
.cls-botsupply-ul .dropdown li:hover {
    background-color: #f26622;
    color: #fff;
}


.cls-type-caret {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}
.cls-bottype-caret {
    float: right;
    margin-right: 10px;
    margin-top: 7px;
}
.cls-supply-caret {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}
.cls-botsupply-caret {
    float: right;
    margin-right: 10px;
    margin-top: 7px;
}

.border-top-type {
    border-top: 1px solid #ced4da;
}
.border-top-bottype {
    border-top: 1px solid #ced4da;
}
.border-top-supply {
    border-top: 1px solid #ced4da;
}
.border-top-botsupply {
    border-top: 1px solid #ced4da;
}


.btn-select-top {
    position: relative;
    display: inline-block;
    *display: inline;
    padding: 7px 5px 7px 5px;
    background: #ffffff;
    background-image: linear-gradient(-180deg, #ffffff 0%,#f5f5f5 100%);
    border: 1px solid #d4d4d4;;
    font-size: 12px;
    font-size: 1.2rem;
    color: #333!important;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.btn-select-conf {
    position: relative;
    display: inline-block;
    *display: inline;
    padding: 7px 5px 7px 5px;
    background: #ffffff;   
    border: 1px solid #d4d4d4;
    font-size: 12px;
    font-size: 1.2rem;
    color: #333!important;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 32px;
}

.btn-select-conf:hover{
    background-color:#2a9d00!important;
    color: #ffffff!important;
}

.clr-green{
    color:#2a9d00!important;
}

.clr-red{
    color:red!important;
}
box-select-top input {
    color: #ddd;
}
 
.btn-select-top:hover {
    color: #2a9d00 !important;
}
.btn-disabled {
    color: #d4d4d4 !important;
    border-color: #ddd !important;
}
    .btn-disabled:hover{
    color: #d4d4d4!important;
    border-color: #ddd!important;
}
.part-loading img{
       position: absolute; 
       height:20px;
}
.part-loading span{
    font-size:14px;
}
.part-loading{
    /*height:120px;*/
    
    font-size:.5rem;
    color:#e5781d;
    /*display:none;*/
}
.part-added{
   color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: 2px 0px 0px 5px;
    /*display:none;*/
    height:20px;

    white-space: nowrap;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*position: absolute;*/ 
}
#spn_listname{
    font-weight:bold;
    max-width:50px;
} 
.part-cart{
        position: absolute;
    background-color: red;
    width: 25px;
    text-align: center;
    border-radius: 11px;
    font-size: 12px;
    font-weight: bold;
       margin-left: -24px;
    margin-top: -10px;
    padding: 3px;
    color: #fff!important;
}
.lst-name-icn{
        display: none!important;
    margin-left: 10px;
    color: #e5781d;
    cursor: pointer;
    font-size: 20px !important;
    margin-top: 3px;
}
.list-title:hover .lst-name-icn{
    display:inline-block!important;
    position:absolute;
}
#lstErrorMsg{
    /*position:absolute;*/
}
.alert-msg{
    background-color: #ffdddd!important;
    color:red;
    padding:5px;
    margin:5px; 
}
.row-updated{
    background-color: #d6e9c6!important;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
}
.row-updated-shadow{
     background-color: #dff0d8!important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.18);
}

.part-hl{
/*border: 1px solid #d6e9c6;
-webkit-box-shadow: 0px 0px 5px 2px rgba(214,233,198,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(214,233,198,1);
box-shadow: 0px 0px 5px 2px rgba(214,233,198,1);*/
    border: 1px solid #2a9f00;
    -webkit-box-shadow: 0px 0px 5px 2px rgb(140, 206, 85);
    -moz-box-shadow: 0px 0px 5px 2px rgb(140, 206, 85);
    box-shadow: 0px 0px 5px 2px  rgb(140, 206, 85);

}
 
.c-gray{
    background: none repeat scroll 0 0 #d2d2d2 !important;
}
.ch_ecstock{
    background: #479347 !important;
}
.ch_ondemand{
    background: #e8791c !important;
}

.ch2_ecstock{
    background: #479347 !important;
}
.ch2_unidentfied{
    background: rgb(183, 59, 59) !important;
}
.ch2_match{
    background: rgb(116, 114, 189) !important;
}
.ch2_suggest{
    background: #e8791c !important;
}
 @keyframes highlight {
  0% {
    background-color: #fff;
}
50% {
    background-color: #f3f0aa;
}
100% {
    background-color: #fff;
}
}

.highlight {
    animation: highlight 2s;
}

 @keyframes highlight-remove {
  0% {
    background-color: #fff;
}
50% {
    background-color: #f2dede;
}
100% {
    background-color: #fff;
}
}

.highlight-remove {
    animation: highlight-remove 2s;
}

 @keyframes highlight-add {
  0% {
    background-color: #fff;
}
50% {
    background-color: #dff0d8;
}
100% {
    background-color: #fff;
}
}

.highlight-add {
    animation: highlight-add 2s;
}
 
.ch-lbl{
    padding-top:4px;
}
.mpn-error{
    background: rgba(178,58,58,0.1)!important;
    border: 1px solid #b23a3a!important;
    background-image:none!important
}

.search-input-error{
    position: absolute;
    width: 100%;
    /*bottom: -26px;*/
    text-align: center;
    color: #b23a3a;
    font-size: 13px;
    font-size: 1.3rem; 
    font-weight: 400;
    margin-top:15px;
}
.file-format-error{
    display:block; 
    color:red;
    text-align:center; 
}
.m-error{
    color:#b23a3a!important;
}
.timeago{
    float:right;
    margin-right:15px;
}

.lst_name{
     width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
        padding: 3px 0px 1px 0px;
}
.lst-i{
    margin-left:5px;
    margin-right:5px;
}
.lst-lbl table{
    line-height:normal;
}
.lst-small{
    color: #9B9B9B;
    margin-left: 5px;
}
#tblList a:hover{
        text-decoration: none;
}
.alt-header{
        border: 1px solid #ddd;
        padding: 5px 0px 5px 0px;
        margin-bottom:10px;
}
.alt-heder{
    margin-left:5px;
    font-size: 11px;
    color: #a6a6a6;
}
.alt-desc{
    margin-left:5px;
    font-size: 20px;
    color: #333;
}
.alt-desc-small{
    margin-left:5px; 
    color: #333;
}
.cls-boardqty{
    width:80%;
}
.img-sides{
    /*margin: 35px 0px 0px 0px;*/
}
.cls-header-price {
    background:none;
}
.cls-boardprice-index {
    background-color: #D8DDE3;
    background-image: linear-gradient(0deg,#eff1f3 0%,#e4efdd 88%);
}
.boardpricecal-head{
    color:#333;
}
.boardqty-tbl-width{
    color:#333;
}
 
.cls-boardlayer-ul-home .dropdown li:hover label{
    color:#fff!important;
}
.cls-boardwk-ul-home .dropdown li:hover label{
    color:#fff!important;
}
 
.cls-boardqty-edit span{
    color: #a6a6a6;
}

.cls-boardqty-edit label{
    font-weight:bold!important; 
    margin-left:5px;
    margin-right:5px; 
    margin-top:10px;
    cursor:pointer;
}
 .row{
     margin-left:-15px!important;
 }
 .boardprice-dime{
     margin-left:auto!important;
 }
 .BoardQty{ 
     display:none;
     width: 40px!important;
     position:relative;
     padding: 3px 8px;  
     height: 25px;
 }
 .boardqty-edit{ 
    display:none;
    /*margin-left: 5px;*/
    color: #e5781d!important;
    cursor: pointer;
    font-size: 15px !important;
    margin-top: 3px;
 }
 .boardqty-save{ 
    display:none;
    /*margin-left: 5px;*/
    color: #e5781d!important;
    cursor: pointer;
    font-size: 15px !important;
    margin-top: 3px;
 }
 
 .edit-brd-qty:hover .boardqty-edit{
     display:inline-block!important;
 }
 .edit-brd-qty label{
     font-size:14px;
 }
 .board-qty-nonedit{
      width: 40px!important;
     position:relative;
     padding: 3px 8px;  
     height: 25px;
     display:inline-block!important;
     background-color: transparent;
     border: 1px solid transparent;
     box-shadow:none;
     -webkit-box-shadow:none;
     cursor: default!important;
 }
 .addpart-heder label{
     color: #a6a6a6!important;
 }
 .new-part-bottom{
     padding: 0px 0px 0px 10px;
 }
 .error-msg{
     display:none;
     font-size:14px;
     margin-top:35px;
     color:red!important;
 }
 .new-part-error{
    background: rgba(178,58,58,0.1)!important;
    border: 1px solid #b23a3a!important;
    background-image: none!important;
 }
 .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.sorting_asc div {
    height: 0px;
    width: 0px;
    border: none;
    border-top: 5px solid #000000;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0); 
}

.sorting_desc div {
    height: 0px;
    width: 0px;
    border: none;
    border-bottom: 5px solid #000000;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);     
}
.create-list-error{
    position: absolute;
    width: 100%; 
    text-align: left;
    color: #b23a3a;
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 15px;
}
.list-txt-validate{
    background: rgba(178,58,58,0.1)!important; 
    border: 1px solid #b23a3a!important; 
}
.lbl-appr{
    display: inline;
    padding: .2em .6em .3em; 
    line-height: 1;
    color: #f26622;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #fff;
    margin-left:5px;
    cursor:pointer;
    border:1px solid;
}
       .bom-header {
                border: 1px solid #ddd;
    padding: 10px 5px 68px 8px;
    margin-bottom: 10px;
        }
.btnBomData {
    color:#7371be;

}
.chkmpn{
    height:20px;
    width:20px;
}
.tbl-media tr{
    background-color:transparent!important;
}
.add-new-part{
    background-image:none;
    background:rgb(116, 114, 189)!important;
    color:#fff!important;    
    border: 1px solid rgb(116, 114, 189);
}
.add-new-part:hover{
    color:#fff!important;
}
 .dot {
	 background: #f26622;
}
 .dot, .dot:after {
	 display: inline-block;
	 width: 2em;
	 height: 2em;
	 border-radius: 50%;
	 animation: a 2.5s infinite;
}
 .dot:after { 
	 background-color: #fff;
	 content: '';
}
 @keyframes a {
	 0%, 50% {
		 transform: scale(0);
	}
}
/*.review-icn{
        z-index: 111;
    margin-left: 8px;
    margin-top: 8px;
    position: absolute;
}*/
.review-icn{
        z-index: 111;
    margin-left: 5px;
    margin-top: 4px;
    position: absolute;
    color:#f26622;
    cursor:pointer;
    font-size:20px!important;
}  
#review-info { 
  position: relative;
}
#review-icon,
#dot { 
  position: absolute;
  top: 0;
  left: 0;
}
#review-icon {
  z-index: 10;
}
.row-ml-0{
    margin-left:0px!important;
}
 
#drop-zone-home-ecpart.dropzone-border-red {
  color: #2a9d00;
  border-color: #2a9d00; 
  box-shadow:inset 0px 0px 30px #2a9d00; 
}
.btn-primary:hover{
    color: #fff!important;
    background-color: #f26622!important;
    border-color: #f26622!important;
} 
.board-type:focus{
    color:#f26622!important;
}
.lbl-dl{
    margin-left: 6px;
    font-weight: bold;
}
.af_logindv{
    float: right;
    margin-right: 10px;
}
.logout_cls{
    float: right;
    width:100px;
}
/*#ctl00_A1:focus{
    color:#fff!important;
}
#ctl00_lnkViewCompanyProfile:focus{
    color:#fff!important;
}
#ctl00_lnkViewProfile:focus{
    color:#fff!important;
}*/
.review-hed-center{
    text-align:center;
}
.reset-review{
    margin:5px 5px 5px 5px;
    color:#d2c5bf;
    cursor:pointer;
}

.reset-review a{
    color:#d2c5bf;
    cursor:pointer;
   text-decoration: none;
}
.reset-revew-div{
    display:inline;
    float:left;
    margin-right: 10px
} 
.reset-review-text{
    margin-top: 5px;
    margin-left:5px; 
    float: left;
    display:inline
}
.review-icon-div{
    display:inline;
    float:left;
    margin-right: 10px
}
.showing-part-div{
    display:inline;
    float:right;
}

.popover {width:350px;max-width:1500px;}
.popover-content h4 {
  color: #f26622;
}
.popover-content h4 small {
  color: black;
}
.popover-content button.btn-primary {
  color: #00A1FF;
  border-color:#00A1FF;
  background:white;
}

.popover-content button.btn-default {
  color: gray;
  border-color:gray;
}
.review-question{
    font-size: 15px!important; 
    cursor:pointer!important;
}   