﻿@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

/*body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Asap', sans-serif;
    background: white;
}*/

/*a {
    text-decoration: none;
    opacity: .6;
    padding: 60px;
    font-weight: bolder;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 1.3em;
}

    a:hover {
        opacity: 1;
    }*/

#container {
    width: 160px;
    height: 36px;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.inner-container {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .2em;
}

    .inner-container:first-child {
        background: #e9e9e9;
        color: #a9a9a9;
    }

    .inner-container:nth-child(2) {
        background: #2a9f00;
        color: white;
        clip-path: inset(0 50% 0 0);
        transition: .3s cubic-bezier(0,0,0,1);
    }

.toggle {
    width: 50%;
    position: absolute;
    height: inherit;
    display: flex;
    box-sizing: border-box;
}

    .toggle pset {
        margin: auto;
        /*font-size: 10px;*/
    }

    .toggle:nth-child(1) {
        right: 0;
    }
