
body {
    color: #717171;
    font-size: 12px;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

div {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}

img {
    border: none;
    padding: 0px;
    margin: 0px;
}

form {
    padding: 0px;
    margin: 0px;
}

p {
    text-align: justify;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

select, input, label {
    font-size: 12px;
    padding: 2px 1px;
}

select {
    border: 1px solid #BBBBBB;
    padding: 4px 3px;
    color: #333333;
    font-size: 12px;
    border-radius: 3px;
}

    select:focus {
        border: 1px solid #005C9C;
    }

textarea {
    border-radius: 3px;
    border: 1px solid #BBBBBB;
}

    textarea:focus {
        border: 1px solid #005C9C;
        padding: 2px;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 8px #005C9C;
        outline: 0 none;
    }

input[type="text"] {
    background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    outline: medium none;
    font-size: 12px;
    padding: 5px;
}

input[type=password] {
    background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    color: #333333;
    outline: medium none;
    font-size: 12px;
    padding: 5px;
}

input[type=file]:focus {
    border: 1px solid #005C9C;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #73B3DD;
    outline: 0 none;
}

input[type=password]:focus {
    border-color: #005C9C;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #73B3DD;
    outline: 0 none;
}

input[type="text"]:focus {
    border-color: #005C9C;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #73B3DD;
    outline: 0 none;
}

/*.menutop {
    margin-top: -62px !important;
}*/

.cl {
    clear: both;
}

.fr {
    float: right;
    padding-bottom: 4px;
}

.fr_left {
    float: left;
    margin-left: 30px;
    /*margin-top: -2px;*/
}

.fl {
    float: left;
}

a:link, a:visited {
    font-size: 12px;
    color: #005c9c;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    outline: none;
    color: #005c9c;
}

a:active {
    color: #005c9c;
}

.iconlist {
    display: inline;
}

    .iconlist a {
        color: #5584BA;
    }

        .iconlist a:hover {
            color: #005c9c;
        }

.smalltext a:link, a:visited {
    font-size: 12px;
    color: #005c9c;
    text-decoration: none;
    outline: none;
}

.smalltext a:hover {
    text-decoration: none;
    outline: none;
    color: #717171;
}

.smalltext a:active {
    color: #005c9c;
}

.smalltext {
    font-size: 11px;
    color: #717171;
}

.textdataleft {
    padding: 0 0 0 10px;
    font-size: 11px;
}

.btndataleft {
    padding-left: 10px;
    font-size: 11px;
}

.green {
    color: #005c9c;
}

.yellow {
    color: #e5e04b;
}

.black {
    color: #000;
}

.italictext {
    font-style: italic;
}

.reqfield {
    color: Red;
}

.massterdiv {
    margin: 0 auto;
}

.headerdiv {
    height: 36px;
    width: 100%;
    background: url("images/header.png") repeat-x scroll center top transparent;
    color: #ffffff;
}

.headerdivp {
    padding: 50px 0 0 0;
    margin: 0;
    width: 50%;
    float: none;
    clear: right;
}

.headerdiv-inright {
    width: 700px;
    color: #FFF;
    font-size: 11px;
    padding: 10px 5px 0 0;
}

    .headerdiv-inright a:link, .headerdiv-inright a:visited {
        color: #FFF;
        font-size: 11px;
    }

    .headerdiv-inright a:hover {
        color: #FFF;
    }

    .headerdiv-inright div, .headerdiv-inright p {
        color: #fff;
    }

    .headerdiv-inright img {
        vertical-align: top;
    }

.headerdiv-language {
    padding: 0 0 0 3px;
}

.headerdiv-actype {
    width: 100%;
    text-align: right;
}

.headernav {
    float: right;
}

    .headernav ul {
        float: left;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .headernav li {
        float: left;
        padding: 7px 5px 6px 0;
        margin: 0 2px;
    }

    .headernav a {
        padding: 8px 8px 6px;
        font-size: 12px !important;
        color: #5584BA;
    }

    .headernav li.selected {
        color: #5584BA;
        padding: 3px;
    }

        .headernav li.selected a {
            border-bottom: 2px solid #5584BA;
            color: #FFFFFF;
            margin-bottom: 5px;
        }

.selectedmenudiv {
    float: left;
    padding-right: 6px;
}

.unselected a {
    color: #5584BA !important;
}

    .unselected a:hover {
        color: #ffffff;
        padding-bottom: 5px;
    }


.container {
    height: 90%;
    margin-top: -42px;
    position: absolute;
    min-width: 900px;
    width: 100%;
    top: 116px;
}


.lhscon {
    width: 239px;
    padding: 0 17px;
    margin: 10px 0;
    background: url(Epsimage/lhs-bg.jpg) repeat-y 17px 0;
    float: left;
}

    .lhscon ul {
        list-style: none;
        padding: 0 6px 0 6px;
        margin: 0;
    }

        .lhscon ul ul {
            list-style: none;
            padding: 0 0 0 9px;
            margin: 5px 0 0 0;
            background: url(Epsimage/lhs-ulul.jpg) top left no-repeat;
        }

    .lhscon li li {
        background: url(Epsimage/liststyle.jpg) 0 12px no-repeat;
        padding: 0 0 0 6px;
        list-style: none;
        margin: 0;
    }

    .lhscon li {
        background: url(Epsimage/lhs-li.jpg) -5px 4px no-repeat;
        list-style: none;
        padding: 0px 0 0px 0px;
        margin: 0;
        font-size: 14px;
    }

.lhscon-data {
    float: left;
    width: 217px;
    padding: 0 8px 0 11px;
}

    .lhscon-data span {
        display: block;
        font-size: 10pt;
        font-weight: normal;
        font-weight: bold;
        padding: 0 0 0 5px;
        width: 100%;
    }

    .lhscon-data a:link, .lhscon-data a:visited {
        font-size: 11px !important;
    }

.lhscon-top {
    background: url(Epsimage/lhs-top.jpg) no-repeat left top #4F759F;
    float: left;
    width: 213px;
    height: 44px;
    font-weight: bold;
    font-size: 15px;
    line-height: 45px;
    padding: 0 0 0 26px;
}

.container-data {
    width: 799px;
    min-width: 699px;
    float: left;
    padding: 10px 0 0 0;
    /*margin-top: -50px;*/
    margin-top: -41px;
}

a.container-datalnk:link, a.container-datalnk:visited {
    text-decoration: underline !important;
    font-size: 12px;
}

.container-data21 {
    width: 100%;
    float: left;
    background: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    margin-top: 30px;
}

.container-datatop1 {
    padding: 25px 20px 0 20px;
}

.container-data2 {
    width: 99.7%;
    float: left;
    /*margin-top: 30px;*/
    margin-top: 45px;
}

.container-datatop {
    padding: 25px 20px 0 20px;
    /*border-top: 1px solid #1F4F84;
    border-right: 1px solid #1F4F84;
    border-left: 1px solid #1f4f84;
    border-bottom: 1px solid #1f4f84;
    border-top-left-radius: 3px;*/
    /*width: 99.5% !important;*/
    width: 100% !important;
    /*border-top-left-radius: 4px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;*/
    background: #ffffff;
    min-height: 615px;
}

.container-datatop-full {
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    margin-right: 10px;
    /*border: 1px solid #1F4F84;*/
    width: 98.5% !important;
    border-radius: 3px;
    background: #ffffff;
    min-height: 615px;
}

.pagetitle {
    font-size: 27px;
    color: #4F759F;
    padding-left: 2px;
    margin-bottom: 15px;
    border-top-left-radius: 4px;
}

.brd-btm td { /*border-bottom: 1px solid #f4f4f4;*/
}

.btnsubmit {
    background: url("Epsimage/newbtn_middle.png") repeat-x scroll left top #2B2B2B;
    border: 0 none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    box-shadow: 0 3px 8px #DDDDDD;
    color: #FFFFFF;
    font: 14px 14px Segoe UI;
    padding: 8px 15px;
    clear: left;
    cursor: pointer;
}

    .btnsubmit:hover {
        background: url("Epsimage/newbtn_middle.png") repeat-x scroll left top #1F4F84;
        color: #ffffff;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -khtml-border-radius: 3px;
    }

.btnsubmitback {
    background: url("Epsimage/newbtn_middle.png") repeat-x scroll left top #1F4F84;
    border: 0 none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    box-shadow: 0 3px 8px #DDDDDD;
    color: #FFFFFF;
    padding: 4px 15px;
    font: 15px Segoe UI;
    padding: 4px 15px;
    clear: left;
    cursor: pointer;
}

    .btnsubmitback:hover {
        background: url("Epsimage/newbtn_middle.png") repeat-x scroll left top #BCD9EB;
        color: #000000;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -khtml-border-radius: 3px;
        cursor: pointer;
    }

.datatbl { /*background:url(Epsimage/data-shadow.jpg) bottom no-repeat*/
}

    .datatbl td {
        padding: 3px 3px;
    }

.footer { /*padding:5px 0px 0 0px;*/
    color: #888;
    font-size: 11px;
    float: left;
    width: 100%;
    background-color: #353535;
    height: 25px;
    bottom: 0;
    left: 0;
    /*position: relative;*/
    position: fixed;
}

    .footer a {
        font-size: 12px;
        color: #5584BA;
    }

    .footer table {
        /*height: 100%;*/
        height: auto;
    }

.tooltip {
    display: none;
    background: url(Epsimage/master-bg.jpg) repeat;
    padding: 10px 10px 10px 10px;
    color: #000;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: absolute;
    border-radius: 5px;
    border: solid 2px #1F4F84;
    z-index: 1000;
    font-size: 12px;
    text-align: justify;
}

.show_hide {
    display: none;
}

.Language_dd {
    padding: 0;
    border: 5px solid black;
    float: left;
    position: fixed;
    z-index: 99999;
    -webkit-box-shadow: 0 0 20px #1F4F84;
    -moz-box-shadow: 0 0 20px #1F4F84;
    box-shadow: 0 0 20px #1F4F84;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    -khtml-box-shadow: 10px;
}
/*.popup_block{background:#fff;padding:0;border:2px solid #1F4F84;float:left;position:fixed;z-index:99999;-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-khtml-border-radius:3px;-khtml-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);max-height:750px;}*/
.popup_block {
    background: none repeat scroll 0 0 #FFFFFF;
    /*border: 2px solid #1F4F84;*/
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    float: left;
    max-height: 750px;
    padding: 0;
    position: fixed;
    z-index: 99999;
}
.rederrormsg {
            color: Red;
        }
.NormalMsg{
    color:#1F4F84;
}
.btn_close {
    float: right;
    margin: 5px 5px 0 0;
    z-index: 99999;
    background: url('images/cancel_popup_w.png') no-repeat scroll right transparent;
    border-bottom-style: none;
    border-style: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.divProg {
    z-index: 100000;
    position: absolute;
    font-size: 15px;
    color: #1F4F84;
    padding: 10px;
    font-weight: bold;
    background: #fff; /* border:5px solid #2a9d00;*/
    box-shadow: 0 0 2px #1F4F84;
    -webkit-box-shadow: 0 0 2px #1F4F84;
    -moz-box-shadow: 0 0 2px #1F4F84;
    -khtml-box-shadow: 5px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#1F4F84,direction=0,strength=2), progid:DXImageTransform.Microsoft.Shadow(color=#1F4F84,direction=45,strength=2), progid:DXImageTransform.Microsoft.Shadow(color=#1F4F84,direction=90,strength=2), progid:DXImageTransform.Microsoft.Shadow(color=#1F4F84,direction=135,strength=2), progid:DXImageTransform.Microsoft.Shadow(color=#1F4F84,direction=180,strength=2), progid:DXImageTransform.Microsoft.Shadow(color=#1F4F84,direction=225,strength=2), progid:DXImageTransform.Microsoft.Shadow(color=#1F4F84,direction=270,strength=2), progid:DXImageTransform.Microsoft.Shadow(color=#1F4F84,direction=315,strength=2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}

.error {
    color: Red;
}

.ErrorMessage {
    color: Red;
}

.divOrderCounter {
    height: 10px;
    background-color: #4F759F;
    float: left;
}

.title_text {
    background-color: #222222;
    /*background-image: -moz-linear-gradient(center top, #FDFDFD 0%, #EAEAEA 100%);*/
    border-bottom: 1px solid #222222;
    color: #fdfdfd;
    font-size: 14px;
    padding: 5px 0 10px 10px;
}

.RoundTbl {
    background: #fff;
    /*border: 1px solid #1F4F84;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    width: 100%;
    height: 100%;
}

.dataheader td {
    border-bottom: 2px solid #f5f5f5;
    font-weight: bold;
}

.footerdiv {
    width: 100%;
    float: left;
    background: url(Epsimage/lhs-footer-bg.gif) repeat-x;
}

.footershadow {
    width: 100%;
    text-align: center;
    float: left;
}

.footershed {
    float: left;
    width: 100%; /*background: url(Epsimage/data-footer.jpg) no-repeat bottom #F6F6F6*/
    
    margin-top: 0px;
}

.browse {
    width: 100px;
}

.lhstop {
    float: left;
    width: 100%;
    background: url(Epsimage/data-top-bg.jpg) center top;
}

.comment {
    font-style: italic;
    font-size: 12px !important;
    color: #666;
}

.Divcontrolfordefault {
    overflow: auto;
    width: 750px;
    height: auto;
    border: solid 1px #4F759F;
    vertical-align: top;
}

.Divcontrolset {
    overflow: auto;
    width: 80%;
    height: auto;
    border: solid 1px #1F4F84;
    vertical-align: top;
}

.CommonDivcontrol {
    overflow: auto;
    width: 750px;
    height: auto;
    border: solid 1px #4F759F;
    vertical-align: top;
}

.AddeditmainDivcontrol {
    overflow: auto;
    width: 100%;
    height: auto;
    border: solid 0px #4F759F;
    vertical-align: top;
}

.Addeditdivcontrol {
    overflow: auto;
    height: auto;
    border: solid 1px #4F759F;
    vertical-align: top;
}

.control-box-border {
    border-top: 1px solid rgb(238, 238, 238) !important;
}

.content-title {
    list-style: none;
    padding: 0 0 0 9px;
    font-weight: bold;
    margin: 5px 0 0 0; /*background: url(Epsimage/lhs-ulul.jpg) top left no-repeat;color: #1F4F84;*/
}

.tabs {
    position: relative;
    left: 0px;
    top: 0px !important;
}

.tab {
    background: none repeat scroll 0 0 #BCD9EB;
    border: 0px solid #BCD9EB;
    border-radius: 3px 3px 0 0;
    color: #000000 !important;
    font-size: 11px;
    padding: 11px 10px;
}

    .tab a:hover {
        color: #eeeeee;
    }

.selectedTab {
    background: none repeat scroll 0 0 #ffffff !important;
    border: 0px solid #2a9d00;
    border-radius: 3px 3px 0 0;
    color: #000000 !important;
    font-size: 11px;
    padding: 5px;
    border-left: 1px solid #EEEEEE !important;
    border-right: 1px solid #EEEEEE !important;
    border-top: 1px solid #EEEEEE !important;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: -2px;
    /*display: inline-block;*/
    display: table;
}

    .selectedTab table {
        border-left: 0 none !important;
        border-right: 0 none !important;
        border-top: 0 none !important;
    }

    .selectedTab a {
        padding: 11px;
        border-left: 0px solid #EEEEEE !important;
        border-right: 0px solid #EEEEEE !important;
        border-top: 0px solid #EEEEEE !important;
    }

.tabContents {
    font-size: 11px;
    background-color: white;
    min-height: 400px;
    padding: 15px;
}

.OverLay {
    background-color: Black;
    opacity: 90%;
    filter: alpha(opacity=90);
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
}

.divbtton {
    margin: 12px 2px 6px 2px;
    float: left;
}

    .divbtton a {
        color: #ffffff !important;
    }

        .divbtton a:hover {
            color: #ffffff !important;
        }
.btncancel{
            background: #ffffff !important;
            color: #1f4f84 !important; 
            border: none !important;
            cursor:pointer !important;
            outline:none !important;
        }
.btncancel :focus{
            border: none !important;
            outline:none !important;
            border-color: none !important;
            box-shadow: none !important;
            
        }
.btncancel :hover{
            background: #ffffff !important;
            color: #1f4f84 !important; 
            border: none !important;
            cursor:pointer !important;
            outline:none !important;
        }
.LinkOrderHistory, .LinkOrderHistory:hover, .LinkOrderHistory:visited {
            color: #1F4F84  !important;
        }
        .orderstatus {
            border: 1px solid #D9D9D9;
            box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.4);
            color: #1f4f84;
            display: inline-block;
            font-size: 21px;
            height: 39px;
            margin-bottom: 10px;
            margin-top: -20px;
            padding-left: 10px;
            padding-top: 6px;
            width: 840px;
        }
        .procedcheckout {
            background: url('images/pnext.png') no-repeat scroll 4px center #E8791C !important;
            padding-left: 23px !important;
        }
        .procedcheckout:hover {
            background: url('images/pnext.png') no-repeat scroll 4px center #1F4F84 !important;
            padding-left: 23px !important;
        }
.buttonssection1 {
            margin: 8px;
            background: none repeat scroll 0 0 #2b2b2b;
            border: 0 none;
            clear: left;
            cursor: pointer;
            padding: 25px !important;
            width: 209px;
            display: inline-block;
        }
            .buttonssection1:hover {
                background: none repeat scroll 0 0 #1f4f84;
                color: #ffffff !important;
                text-decoration: none;
            }
.buttonssection {        
        margin: 8px;
        background: none repeat scroll 0 0 #2b2b2b;
        border: 0 none;
        clear: left;
        cursor: pointer;
        padding: 8px !important;
        width: 100px;
        display:inline-block;
    }
    .buttonssection:hover {
        background: none repeat scroll 0 0 #1F4F84;        
        color: #ffffff !important;
        text-decoration: none;
    }
  
    .buttonssection1 {
            margin: 8px;
            background: none repeat scroll 0 0 #2b2b2b;
            border: 0 none;
            clear: left;
            cursor: pointer;
            padding: 25px !important;
            width: 209px;
            display: inline-block;
        }
            .buttonssection1:hover {
                background: none repeat scroll 0 0 #1F4F84;
                color: #ffffff !important;
                text-decoration: none;
            }

.buttonsectionactive{
        background: none repeat scroll 0 0 #2a9d00 !important;
    }

.buttonsectionactive{
        background: none repeat scroll 0 0 #1f4f84 !important;
    }
 .ECanch{
            color:white !important;
        }
        .ECanch:hover{
            /*color:#1f4f84 !important;*/
            text-decoration:underline !important;
        }
.NextProcess
    {
        background: url('images/pnext.png') no-repeat scroll 4px center #E8791C !important;
        padding-left: 23px !important;
    }
    .NextProcess:hover
    {
        background: url('images/pnext.png') no-repeat scroll 4px center #1f4f84!important;
        padding-left: 23px !important;
    }
.buttons {
    background: none repeat scroll 0 0 #2b2b2b;
    padding: 7px 10px;
    border: 0 none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    color: #FFFFFF; /*font: 14px Segoe UI;*/
    clear: left;
    cursor: pointer;
    font-size: 12px !important;
    font-weight: normal;
}

    .buttons:hover {
        background: none repeat scroll 0 0 #1F4F84;
        color: #FFFFFF;
        padding: 7px 10px;
        text-decoration: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -khtml-border-radius: 4px;
    }

.mainbuttons {
    background: url("Epsimage/newbtn_middle.png") repeat-x scroll left top #2B2B2B;
    border: 0 none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    box-shadow: 0 3px 8px #DDDDDD;
    color: #FFFFFF;
    font: 14px Arial,sans-serif;
    padding: 8px 15px;
    clear: left;
    cursor: pointer;
}

    .mainbuttons:hover {
        background: url("Epsimage/newbtn_middle.png") repeat-x scroll left top #1F4F84;
        color: #ffffff;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -khtml-border-radius: 3px;
    }

.mainbuttonscart {
    background: url("Epsimage/newbtn_middle.png") repeat-x scroll left top #1F4F84;
    border: 0 none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -khtml-border-radius: 7px;
    box-shadow: 0 3px 8px #DDDDDD;
    color: #FFFFFF;
    padding: 4px 15px;
    font: 14px Arial,sans-serif;
    padding: 20px 15px;
    clear: left;
    cursor: pointer;
}

    .mainbuttonscart:hover {
        background: url("Epsimage/newbtn_middle.png") repeat-x scroll left top #BCD9EB;
        color: #FFFFFF;
        text-decoration: none;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        -khtml-border-radius: 7px;
    }

.content-titlerepeat {
    list-style: none;
    padding: 0 0 0 9px;
    color: #1F4F84;
    font-weight: bold;
    margin: 5px 0 0 0;
    background: url(Epsimage/lhs-ululrepeat.jpg) top left repeat-x;
}

.ordtabs {
    position: relative;
    top: 1px; /*left: 10px;*/
    margin: 0px 0px 0px 5px;
}

.ordtab {
    display: inline-block;
    background: none repeat scroll 0 0 #BCD9EB;
    border: 0px solid #BCD9EB;
    border-radius: 3px 3px 0 0;
    color: #000000 !important;
    font-size: 11px;
    padding: 10px;
}

    .ordtab a {
        color: #000000;
    }

        .ordtab a:hover {
            color: #000000;
        }

.selectedordtab {
    background: none repeat scroll 0 0 #ffffff !important;
    border: 0px solid #2a9d00;
    border-radius: 3px 3px 0 0;
    color: #000000 !important;
    font-size: 11px;
    padding: 10px;
    border-left: 1px solid #EEEEEE !important;
    border-right: 1px solid #EEEEEE !important;
    border-top: 1px solid #EEEEEE !important;
    margin-bottom: -1px;
    display: inline-block;
}

.ordtabContents {
    font-size: 11px;
    background-color: white;
    width: 100%;
}

.orderDivcontrol {
    overflow: auto;
    width: 850px;
    height: auto;
    border-top: solid 1px #eeeeee;
    vertical-align: top;
    margin-top: -1px;
}

.infobox {
    cursor: pointer;
    background: url(images/qmareps.png) no-repeat;
    padding-bottom: 10px;
    padding-top: 5px;
}

.loginbuttons {
    margin: 7px 2px 6px 2px;
    height: 110px;
    vertical-align: bottom;
    border: solid 2px #1F4F84;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -khtml-border-radius: 7px;
    box-shadow: 0 3px 8px #DDDDDD;
    color: #FFFFFF;
    padding: 4px 15px;
    font: 14px Arial,sans-serif;
    padding: 4px 15px;
    float: left;
}

    .loginbuttons:hover {
        margin: 7px 2px 6px 2px;
        height: 110px;
        vertical-align: bottom;
        border: solid 2px #BCD9EB;
        color: #000000;
        text-decoration: none;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        -khtml-border-radius: 7px;
        float: left;
        box-shadow: 0px 0px 15px #BCD9EB;
        color: #FFFFFF;
        -webkit-box-shadow: 0 0 20px #BCD9EB;
        -moz-box-shadow: 0 0 20px #BCD9EB;
        -khtml-box-shadow: 10px;
    }

.testClass {
    top: 100px;
    color: Blue;
}

.leftbreadcrumb {
    background: url(Epsimage/CountryImage.png) no-repeat;
    background-position: 0px -530px;
    text-align: right;
    width: 5%;
    height: 36px;
    width: 15px;
    margin-bottom: 15px;
}

.rightbreadcrumb {
    background: url(Epsimage/CountryImage.png) no-repeat;
    background-position: 0px -576px;
    width: 5%;
    text-align: right;
    height: 36px;
    width: 16px;
}

.breadcrumb {
    background: url(Epsimage/middlebreadcrumb-bg.jpg) repeat-x;
    height: 36px;
    margin-bottom: 15px;
}

    .breadcrumb ul {
        padding: 0 0px;
        margin: 0;
    }

    .breadcrumb li {
        padding: 0;
        margin: 0;
        float: left;
        list-style: none;
    }

    .breadcrumb img {
        vertical-align: middle;
        padding: 0 5px 2px 0;
    }

    .breadcrumb a {
        color: #005C9C;
        font-size: 15px;
        padding: 8px 6px;
        float: left;
    }

    .breadcrumb li.current {
        background: url(Epsimage/breadcrumb-hover.jpg) repeat-x;
    }

    .breadcrumb li:hover {
        background: url(Epsimage/breadcrumb-hover.jpg) repeat-x;
    }

    .breadcrumb li.current a {
        color: #005C9C;
    }

    .breadcrumb li.desebled {
        background: url(Epsimage/breadcrumb-desable.jpg) repeat-x;
    }

        .breadcrumb li.desebled a {
            color: Gray;
        }

.OTSSeperatePart {
    background-color: #BCD9EB;
    width: 2px;
}

.broughtby {
    padding-right: 0px;
    font-size: 12px;
}

.Divcontrolforofftheshelf {
    overflow: auto;
    height: auto;
    border: solid 1px #4F759F;
    vertical-align: top;
}

.RoundTblofftheshelf {
    background: #fff;
    border: 1px solid #1F4F84;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    height: 100%;
}

.datatbl2 { /*background: url(Epsimage/data-shadow.jpg) bottom no-repeat;*/
}

    .datatbl2 td {
        padding: 4px 2px;
        font-size: 11px;
    }

    .datatbl2 a {
        font-size: 11px !important;
    }

    .datatbl2 img {
        vertical-align: middle;
    }

.Divcontrol {
    overflow: auto;
    width: 100%;
    position: relative;
    height: auto;
    vertical-align: top;
    min-height: 0%;
    padding-left: 5px;
}

.grid-view {
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .grid-view tr.normal {
        color: #717171;
        border-bottom: solid 1px #c1c1c1;
        padding: 2px;
    }

    .grid-view tr.alternate {
        color: #717171;
        background: #fcfcfc url(images/grd_alt.png) repeat-x top;
        border-bottom: solid 1px #c1c1c1;
        padding: 2px;
    }

        .grid-view tr td, .grid-view tr.alternate td {
            border-bottom: solid 1px #c1c1c1;
            padding-right: 12px;
            color: #717171;
            font-size: 12px !important;
        }

    .grid-view a { /*color:#fff;*/
    }

.gridheader {
    height: 30px;
    font-size: 12px;
    
}

    .gridheader th {
        border-right: #005C9C;
        padding: 4px 6px;
        color: #fff;
        background: none repeat scroll 0 0 #424242 !important;
        border-left: solid 1px #525252;
        font-weight: normal;
    }

    .gridheader a {
        color: #fff;
    }
/*.gridheader a{font-family:Segoe UI;font-size:11px;color:#fff;font-weight:bold;background-color:#1F4F84}
.gridheader a:hover{font-family:Segoe UI;font-size:11px;color:#000;font-weight:bold;background-color:#1F4F84}*/
.grid-view tr.normal:hover, .grid-view tr.alternate:hover {
}

.gridpager {
    font-size: 9px;
    color: #717171;
    font-weight: bold;
}

    .gridpager td span {
        padding-top: 2px !important;
    }

.gridpagertest span {
    background-color: #E9F5E5;
    padding-left: 5px;
    padding-right: 5px;
}

.gridpagertest a {
    width: inherit;
    padding-left: 5px;
    padding-right: 5px;
}

.grid-view tr.selectedrow {
    font-size: 12px;
    color: #000;
    font-weight: normal;
    padding: 0px 0px 0px 0px;
}

.grid-view .empty td {
    border-style: none;
    border-width: 0px;
}

.searchtext {
    /*font-size: 12px;
    padding: 2px 2px 2px 2px;
    width: 70px;
    margin-top: 3px;*/
    font-size: 12px;
    padding: 7px;
    /*width: 70px;*/
    width: 80px;
    margin-top: 3px;
}

.gridpagerPrevious {
    float: right;
    z-index: 99999;
    background: url('images/leftarrow.png') right top;
    border-bottom-style: none;
    border-style: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.gridpagernext {
    float: right;
    z-index: 99999;
    background: url('images/rightarrow.png') right top;
    border-bottom-style: none;
    border-style: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.grid-vieweagle {
    font-size: 12px;
    font-weight: normal;
    padding: 0px 0px 0px 0px;
}

    .grid-vieweagle tr.normal {
        font-size: 12px;
        color: #000;
        font-weight: normal;
        background-color: #BCD9EB;
        padding: 0px 0px 0px 0px;
    }

    .grid-vieweagle tr.alternate {
        font-size: 12px;
        color: #000;
        font-weight: normal;
        background-color: #fff;
        padding: 0;
    }

    .grid-vieweagle tr.normal:hover {
        background-color: #1F4F84;
        color: #ffffff;
        cursor: pointer;
    }

        .grid-vieweagle tr.normal:hover a {
            background-color: #1F4F84;
            color: #ffffff;
            cursor: pointer;
        }

            .grid-vieweagle tr.normal:hover a:hover {
                background-color: #1F4F84;
                color: #ffffff;
                cursor: pointer;
            }

    .grid-vieweagle tr.alternate:hover {
        background-color: #1F4F84;
        color: #000000;
        cursor: pointer;
    }

        .grid-vieweagle tr.alternate:hover a {
            background-color: #1F4F84;
            color: #ffffff;
            cursor: pointer;
        }

            .grid-vieweagle tr.alternate:hover a:hover {
                background-color: #1F4F84;
                color: #ffffff;
                cursor: pointer;
            }

    .grid-vieweagle tr.selectedrow {
        font-size: 12px;
        color: #000;
        font-weight: normal;
        padding: 0px 0px 0px 0px;
        background-color: #1F4F84;
    }

        .grid-vieweagle tr.selectedrow a {
            background-color: #1F4F84;
            color: #ffffff;
            cursor: pointer;
        }

            .grid-vieweagle tr.selectedrow a:hover {
                background-color: #1F4F84;
                color: #ffffff;
                cursor: pointer;
            }

.highlightcomment {
    color: Red;
    font-size: 13px !important;
    font-style: normal;
}

.highlightcurrency {
    color: #1F4F84;
    font-size: 13px !important;
    font-style: normal;
}

.Eagle-PaymentOptions {
    list-style: none;
    padding: 0 0 0 9px;
    color: Red;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0 0 0;
    background: url(images/lhs-ululrepeat.jpg) top left repeat-x;
}

.Eagle-OrderOptions {
    font-size: 15px;
    padding: 5px 1px;
}

a.Eagleoption {
    font-size: 16px;
}

.frHeader {
    background: url(Epsimage/CountryImage.png);
    background-position: 0px -215px;
    width: 20px;
    float: right;
}

.flHeader {
    background: url(Epsimage/CountryImage.png);
    background-position: 0px -248px;
    width: 20px;
    float: right;
}

#accordion {
    list-style: none;
    padding: 0 0 0 2px;
    margin: 0;
    width: 600px;
}

    #accordion div {
        display: block;
        background-color: #9DBBDB;
        font-weight: bold;
        font-size: 14px;
        color: White;
        margin: 1px;
        cursor: pointer;
        padding: 5 5 5 7px;
        padding-top: 07px;
        padding-left: 15px;
        list-style: circle;
        height: 25px;
        -moz-border-radius-topright: 1px;
        -webkit-border-top-right-radius: 1px;
        border-top-right-radius: 1px;
        -moz-border-radius-topleft: 1px;
        -webkit-border-top-left-radius: 1px;
        border-top-left-radius: 1px;
        margin-bottom: 3px;
        -moz-border-radius-bottomleft: 1px;
        -webkit-border-bottom-left-radius: 1px;
        border-bottom-left-radius: 1px;
        -moz-border-radius-bottomright: 1px;
        -webkit-border-bottom-right-radius: 1px;
        border-bottom-right-radius: 1px;
    }

        #accordion div:hover { /*background-color:#1F4F84;*/
            color: white;
        }

    #accordion ul {
        list-style: none;
        padding: 0 0 0 0;
    }

    #accordion ul {
        display: none;
    }

        #accordion ul li {
            font-weight: normal;
            cursor: auto; /*background-color: #7DA9D8;border:solid 1px #2a9d00;*/
            padding: 0 0 0 0px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

.AccordionIconRight {
    background: url(images/arrow-right.png) no-repeat right center;
}

.AccordionIconDown {
    background: url(images/arrow-down.png) no-repeat right center;
}

.EagleDiv {
    font-weight: normal;
    cursor: auto;
    background-color: #7DA9D8;
    padding: 0 0 0 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid 1px #2a9d00;
}

.RoundTblEagle {
    background: #AECFF2;
    border: 1px solid #1F4F84;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    height: 100%;
}

.frHeader {
    background: url(Epsimage/CountryImage.png);
    background-position: 0px -215px;
    width: 20px;
    float: right;
}

.flHeader {
    background: url(Epsimage/CountryImage.png);
    background-position: 0px -248px;
    width: 20px;
    float: left;
}

.frFooter {
    background: url(Epsimage/CountryImage.png);
    background-position: 0px -488px;
    width: 10px;
    float: right;
}

.flFooter {
    background: url(Epsimage/CountryImage.png);
    background-position: 0px -509px;
    width: 10px;
    float: left;
}

.EagleResponse {
    width: 210px;
}

.EagleResponseColumn {
    width: 25%;
    padding-left: 10px;
}

.BasketCounterDiv {
}

.Offtheshelfheader {
    background: url(images/offtheshelfheader.png) repeat-x;
}


/*  Belwo CSS is fo New OTS Design */

a.lnk1:link, a.lnk1:visited {
    background-position: 0 -31px;
    width: 109px;
    height: 30px;
    display: block;
    float: left;
}

a.lnk1:hover {
    background-position: 0 0;
}

a.lnk2:link, a.lnk2:visited {
    background-position: -109px -31px;
    width: 65px;
    height: 30px;
    display: block;
    float: left;
}

a.lnk2:hover {
    background-position: -109px 0;
}

a.lnk3:link, a.lnk3:visited {
    background-position: -174px -31px;
    width: 109px;
    height: 30px;
    display: block;
    float: left;
}

a.lnk3:hover {
    background-position: -174px 0;
}

.breadcrumb-outer {
    width: 100%;
    padding: 0 0 6px 0;
    min-width: 1120px;
}

.companynavi {
    background: #D4E5EF;
    float: right;
}

    .companynavi ul {
        float: left;
        padding: 0;
        margin: 0;
    }

    .companynavi li {
        float: left;
        list-style: none;
        padding: 10px;
        margin: 0;
        border-right: 1px solid #bacdb4;
    }

        .companynavi li:hover {
            float: left;
            list-style: none;
            padding: 10px;
            margin: 0;
            border-right: 1px solid #bacdb4;
            background-color: #9BC0DA;
        }

    .companynavi a {
        color: #000;
        font-size: 14px;
        cursor: pointer;
    }

    .companynavi img {
        padding: 0 5px;
        vertical-align: middle;
    }

.companynaviselect {
    float: left;
    list-style: none;
    padding: 10px;
    margin: 0;
    border-right: 1px solid #bacdb4;
    background-color: #9BC0DA;
}

.titleimage {
    float: right;
}

.mastertbl {
    padding: 0 5px;
    float: left;
    width: 99%;
}

.topshadow {
    background: url(Epsimage/top-shadow.jpg) top center no-repeat;
    height: 23px;
    width: 100%;
    float: left;
}

.bottomshadow {
    background: url(Epsimage/bottom-shadow.jpg) top center no-repeat;
    height: 23px;
    width: 100%;
    float: left;
}

.search-btn {
    background: url(images/btn-search.jpg);
    border: none;
    width: 110px;
    height: 39px;
    cursor: pointer;
    float: right;
    color: White;
}

.searchmaster {
    float: left;
    width: 100%;
    padding: 0;
}

.searchdiv {
    float: right;
    text-align: right;
    min-width: 584px;
}

.searchdivinner {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}

.searchdivinnerdropdown {
    float: right;
}

.searchdivinner a {
    font-size: 13px;
    text-decoration: underline;
    font-weight: bold;
    float: right;
}

.searchdata {
    color: #1F4F84;
    float: left;
    font-size: 12px;
}

    .searchdata span {
        color: #1F4F84;
    }

.searchtextOTS {
    border: 2px #9BC0DA solid;
    color: #000;
    font-size: 13px;
    padding: 6px 4px;
    width: 96%;
    float: right;
}

.pagging-bg {
    background: none repeat scroll 0 0 #424242 !important;
    width: 100%;
    float: left;
    color: #fff;
    height: 34px;
}

    .pagging-bg div {
        padding: 9px 12px 5px 12px;
        font-size: 12px;
    }

.nobg {
    background: none !important;
}

.pagging-bg div a {
    font-size: 12px;
    color: #ffffff;
    padding: 0 4px;
    text-decoration: underline;
}

    .pagging-bg div a:hover, .pagging-bg div a.selected {
        color: #005C9C;
        background: none;
        text-decoration: none;
    }

.pagging-bg select {
    padding: 0;
    margin: 0;
}

.productContainer {
    width: 100%; /*background:url(Epsimage/bottom-shadow.jpg) bottom center no-repeat;*/
    float: left;
    padding: 5px 0 5px 0;
}

    .productContainer .cl {
        float: none;
    }

    .productContainer .chk {
        padding: 0 5px 0 0;
    }

    .productContainer div {
        float: left;
        font-size: 15px;
    }

    .productContainer span {
        font-size: 13px!important;
    }

.productCondata1 span {
    font-size: 13px!important;
}

.productCondata1 b span {
    color: #005C9C;
    font-size: 15px!important;
}

.productCondata1 b a {
    color: #005C9C;
    font-size: 15px!important;
}

.productContainer .discount {
    background: #f7d278;
    line-height: 16px;
}

.addtocart {
    background: url(Epsimage/addtocart.jpg);
    border: 0;
    width: 104px;
    height: 21px;
    color: White;
    font-size: 12px;
    cursor: pointer;
}

    .addtocart a {
        color: White;
        font-size: 12px;
        cursor: pointer;
        margin-top: 20px;
    }
/*.productContainer b{color:#005C9C; font-size:20px;}*/

.productCondata0 {
    width: 31%;
}

    .productCondata0 div img {
        padding: 0 5px 0 0;
    }

.productCondata1 {
    width: 40%;
}

.productCondata2 {
    width: 29%;
}

    .productCondata2 div {
        float: right;
    }

.productCondata1 em {
    font-style: normal;
    text-decoration: line-through;
    padding: 0 5px 0 0;
}

.productCondata1 i {
    font-style: normal;
    font-size: 16px;
    color: #005C9C;
    padding: 0 0px;
}

.productCondata1 strong {
    font-size: 20px;
    color: #005C9C;
}

.productdetailCon {
    float: left;
    width: 100%;
}

.proConImg {
    float: right;
    width: 330px;
    padding-top: 10px;
}

.proConDiv {
    border: 1px solid #e5e5e5;
    background: #D4E5EF;
    float: left;
    height: auto;
    max-height: 335px;
    min-height: 274px;
    width: 342px;
    min-width: 342px;
    max-width: 342px;
    text-align: center;
}

.proConSub {
    border: 1px solid #e5e5e5;
    width: 342px;
    background: #D4E5EF;
    height: 80px;
    max-height: 80px;
    min-height: 70px;
    min-width: 342px;
    max-width: 342px;
}

    .proConSub a {
        padding: 6px 4px;
        float: left;
    }
/*.productTitle{float:left; width:100%;  line-height:30px; padding:0 0 20px 0; background:url(Epsimage/top-shadow2.jpg) bottom center no-repeat;max-width:1100px;min-width:1100px;}*/
.productTitle {
    width: 100%;
    line-height: 30px;
    padding: 0 0 20px 0;
}

productTitle img {
    vertical-align: middle;
}

.productTitle i {
    font-style: normal;
    padding: 0 0 0 10px;
}

.productTitle b {
    color: #005C9C;
    font-size: 28px;
}

.productTitle strong {
    font-size: 16px;
    padding: 0 15px 0 0;
}

.productDetailsOuter {
    background: url() bottom center no-repeat;
    float: left;
    width: 1000px;
    min-height: 420px;
    width: 100%;
    max-width: 1100px;
    min-width: 1100px;
}

.productDetails ul {
    padding: 10px 0 10px 20px;
    margin: 0;
}

.green {
    color: #005C9C;
}

.productDetails li {
    padding: 2px 0;
    margin: 0;
}

.productDetails {
    float: left;
    width: 49%;
    padding: 0 5% 0 0;
    max-width: 300px;
}

.productDetailsdata ul {
    padding: 10px 0 10px 20px;
    margin: 0;
}

.productDetailsdata li {
    padding: 2px 0;
    margin: 0;
}

.productDetailsdata {
    float: left;
    width: 55%;
    padding: 0 5% 0 0;
    max-width: 420px;
}

.productItems {
    float: left;
    max-width: 269px;
    padding-top: 4px;
}

    .productItems dl, .productItems dt, .productItems dd {
        float: left;
        padding: 0;
        margin: 0;
        font-size: 12px;
    }

    .productItems dl {
        width: 100%;
    }

    .productItems dt {
        width: 40%;
    }

    .productItems dd {
        width: 60%;
        text-align: right;
    }

    .productItems b {
        color: #005c9c;
    }

.orijnal {
    text-decoration: line-through;
}

.proDetails {
    float: left;
    width: 100%;
    max-width: 1100px;
    min-width: 1100px;
}

    .proDetails table {
        font-size: 12px;
    }

.proDetails1 {
    float: left;
    width: 45%;
}

.proDetails2 {
    width: 53%;
    padding: 0;
    background: url(Epsimage/v-shadow.jpg) left top no-repeat;
}

.pTitle {
    color: #005C9C;
    font-size: 17px !important;
    width: 100%;
    float: left;
    padding: 10px 0;
    margin: 0;
}

    .pTitle a {
        color: #005C9C;
        font-size: 17px !important;
        width: 100%;
        float: left;
        padding: 10px 0;
        margin: 0;
    }

.psubTitle {
    background: #eaebee;
    color: #005C9C;
    font-size: 13px;
    padding: 2px 1%;
    margin: 0;
    float: left;
    width: 98%;
}

.proDetails1 dl, .proDetails1 dt, .proDetails1 dd {
    float: left;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.proDetails1 dl {
    width: 100%;
}

.proDetails1 dt {
    width: 20%;
    padding: 4px 0;
}

.proDetails1 dd {
    width: 80%;
    padding: 4px 0;
}

.proDetails2 dl, .proDetails2 dt, .proDetails2 dd {
    float: left;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.proDetails2 dl {
    width: 100%;
    padding: 0 0 8px 0;
}

.proDetails2 dt {
    width: 27%;
    padding: 2px 1%;
    border-bottom: 1px solid #eaebee;
}

.proDetails2 dd {
    width: 70%;
    padding: 2px 0;
    border-bottom: 1px solid #eaebee;
}

.productContainer span a {
    font-size: 13px !important;
    font-weight: bold; /*color:Black;text-decoration: underline !important;*/
}

.Validationspn {
    font-size: 10px !important;
}

    .Validationspn span {
        font-size: 10px !important;
    }

.Description {
    font-size: 12px!important;
    padding-top: 10px;
}

    .Description span {
        font-size: 12px!important;
        margin-bottom: 10px;
        line-height: 18px;
    }

    .Description p {
        font-size: 12px!important;
    }

.Relatedproducts {
    padding: 0;
    min-height: 230px;
    height: 260px;
    padding-right: 4px;
    float: left;
    border: solid 1px silver;
    width: 98%;
}
/*.Relatedproducts{width:320px; padding:0; background:url(images/v-shadow.jpg) right top no-repeat;min-height:230px;height:100%;padding-left:18px;float:left;}*/
.Relatedproductsdiv {
    font-size: 12px!important;
}

.RelatedProductborder {
    border: solid 3px silver;
    float: left;
    padding: 0px;
    width: 1100px;
    max-width: 1100px;
    min-width: 1100px;
}

.RelatedItempTitle {
    color: #000;
    font-weight: bold;
    font-size: 17px !important;
    width: 100%;
    float: left;
    padding: 10px 0;
    margin: 0;
}

    .RelatedItempTitle a {
        color: #000;
        font-weight: bold;
        font-size: 17px !important;
        width: 100%;
        float: left;
        padding: 10px 0;
        margin: 0;
    }

.RelatedItemppsubTitle {
    background: #eaebee;
    color: #005c9c;
    text-align: left;
    font-size: 13px;
    padding-left: 4px;
    margin: 0;
    float: left;
    width: 98%;
}

    .RelatedItemppsubTitle a {
        color: #005c9c;
        font-size: 14px;
        font-weight: bold;
    }

.displaydescription {
    display: block;
}

.divbttonaddtobasket {
    margin: 7px 2px 6px 2px;
    float: left;
}

    .divbttonaddtobasket a {
        font-size: 11px;
        color: #ffffff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -khtml-border-radius: 3px;
    }

        .divbttonaddtobasket a:hover {
            font-size: 11px;
            color: #ffffff;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -khtml-border-radius: 3px;
        }

.addbasketbuttons {
    background: url("Epsimage/newbtn_middle.png") repeat-x scroll left top #E56814;
    border: 0 none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -khtml-border-radius: 7px;
    box-shadow: 0 3px 8px #DDDDDD;
    color: #FFFFFF;
    padding: 4px 15px;
    font: 14px Arial,sans-serif;
    padding: 4px 15px;
    clear: left;
    cursor: pointer;
}

    .addbasketbuttons:hover {
        background: url("Epsimage/newbtn_middle.png") repeat-x scroll left top #1F4F84;
        color: #FFFFFF;
        text-decoration: none;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        -khtml-border-radius: 7px;
    }

.Resend {
    background: url("../Images/refresh.png") no-repeat scroll 6px center #E56814;
    border: 0 none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 3px 3px 3px 3px;
    ;
    -khtml-border-radius: 0px;
    box-shadow: 0 3px 8px #DDDDDD;
    color: #FFFFFF;
    padding: 4px 7px;
    font: 14px Arial,sans-serif;
    clear: left;
    cursor: pointer;
}

    .Resend:hover {
        background: url("../Images/refresh.png") no-repeat scroll 6px center #F48338;
        color: #FFFFFF;
        text-decoration: none;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 3px 3px 3px 3px;
        -khtml-border-radius: 0px;
    }

.Discountbackground {
    background: #f7d278;
    height: 13px;
}

.DiscValidationspn {
    font-size: 10px !important;
}

.span_Category {
    background: url("../Epsimage/newbtn_middle.png") repeat-x scroll left top #1F4F84;
    margin-left: 5px;
    padding: 5px;
    color: white;
}

    .span_Category:hover {
        background-color: #BCD9EB;
    }

.PublicProfileContainer table td {
    padding: 5px;
}

.highlight {
    background-color: #F7DDB4;
    padding: 4px;
    border-radius: 5px;
    font-size: 75%;
}

.tbl-profil-statistics {
    border-collapse: collapse;
    padding: 5px;
    color: #444444;
}

    .tbl-profil-statistics heading {
        text-align: left;
    }

    .tbl-profil-statistics th {
        text-align: left;
        width: 70;
    }

.brd-btm th {
    border-bottom: 1px solid #F4F4F4;
}

.count {
    font-weight: bold;
}

.lhscon-Widget {
    background: url("Epsimage/lhs-bg.jpg") repeat-y scroll 17px 0 transparent !important;
    float: left !important;
    margin: 0px 0 !important;
    padding: 0 17px !important;
    width: 239px !important;
}

.lhscon-top-Widget {
    background-color: #1F4F84;
    float: left;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    padding: 0 0 0 5px;
    width: 213px;
}

.betatext-Widget {
    list-style: none outside none;
    margin: 0;
    padding: 10px 20px 0;
    text-align: left;
}

.highlight-Widget {
    background-color: #F7DDB4;
    padding: 4px;
    border-radius: 5px;
    font-size: 80%;
}

.ProfileImage-Widget {
    border: solid 2px #1F4F84 !important;
    border-radius: 3px;
    height: 60px;
    width: 60px;
}


/* protopack*/
.anchorbuttonhoverherehover {
    background-color: #1F4F84 !important;
    color: #FFFFFF !important;
}

.sidebarProtopack {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #C9C9C9;
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: auto;
    overflow: hidden;
    padding: 12px 8px 0;
    width: 282px;
}

.headingProtopack {
    background-color: #77A037;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin: 1px;
    padding: 3px 10px;
    position: relative;
}

.contentProtopack {
    background-color: #FAFAFA;
    border: 1px solid silver;
    border-radius: 3px 3px 3px 3px;
    padding: 5px 10px;
}

.features-title {
    background: none no-repeat scroll 0 0 #FD8907;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-shadow: 0 1px 0 #222222;
    display: block;
}

.feildtext, .feildtext label, .feildtext span span {
    font-size: 16px; /*font-weight: bold;*/
    position: relative;
    color: #005C9C;
}

    .feildtext span input {
        font-size: 16px;
        position: relative;
    }

h2 {
    font-size: 15px; /*margin-bottom: 50px;*/
    clear: both;
}
/*Pricing box*/ .pricing_box {
    border: 1px solid #ccc;
    float: left;
    text-align: center;
    padding: 0 0 20px 0;
    margin-left: -1px;
    box-shadow: 0 2px 10px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 10px -4px rgba(0, 0, 0, 0.5);
    background: #fff;
}

    .pricing_box.radius-left {
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-bottom-left-radius: 5px;
    }

    .pricing_box.radius-right {
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -moz-border-bottom-right-radius: 5px;
    }

    .pricing_box .header {
        text-shadow: 0 1px 1px #fff;
        border-bottom: 1px solid #ccc;
        background: url(images/price.bg.png) repeat;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-top-right-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
    }

    .pricing_box .header {
        height: 68px;
    }

        .pricing_box .header span {
            position: relative;
            top: 20px;
            font-size: 16px;
            font-weight: bold;
            line-height: 28px;
        }

            .pricing_box .header span.info {
                position: relative;
                font-size: 12px;
                font-weight: normal;
                top: 2px;
                display: block;
                color: gray;
            }

    .pricing_box p {
        line-height: 28px;
    }

    .pricing_box ul {
        list-style: none;
        margin: 0 0 15px 0 !important;
        text-align: left;
    }

.cols-2 .pricing_box {
    width: 49.8%;
    margin-bottom: 50px;
}

cols-3 {
}

.cols-3 .pricing_box {
    width: 33%;
    margin-bottom: 50px;
}

.cols-4 .pricing_box {
    width: 24.8%;
    font-size: 1em;
}

.cols-5 .pricing_box {
    width: 19.5%;
    font-size: 0.9em;
}

.pricing_box ul li {
    line-height: 3.2em;
    color: Gray;
    padding-left: 20px !important;
    margin-left: 0;
    list-style-type: none !important;
}

    .pricing_box ul li.odd {
        background: #F9F9F9;
    }

    .pricing_box ul li.even {
        background: #F3F3F3;
    }

.pricing_box strong {
    background: url("orders/images/priceeps.png") no-repeat 0 -9999px;
    height: 12px;
    padding-left: 20px;
    font-style: normal;
    color: gray;
}

    .pricing_box strong.no {
        background-position: 0 0;
    }

    .pricing_box strong.yes {
        background-position: 0 -15px;
    }

    .pricing_box strong.single {
        background-position: 0 -30px;
    }

    .pricing_box strong.unlim {
        background-position: 0 -45px;
    }

    .pricing_box strong.more {
        background: url(../orders/images/price.more.png) no-repeat 0 0;
        height: 20px;
        width: 20px;
        cursor: pointer;
        float: right;
        padding: 0;
        margin: 14px 14px 0 0;
    }

    .pricing_box strong.nopad {
        padding: 0;
    }

.pricing_box h3 {
    color: Gray;
    margin: 20px 0; /* font-size: 22px;*/
    font-size: 16px;
    display: block;
}

    .pricing_box h3 em {
        font-size: 12px;
        font-weight: normal;
    }

.pricing_box p.button {
    height: 38px;
    background: url("orders/images/price.readmore.png") no-repeat left 0;
    float: none;
}

    .pricing_box p.button a {
        font-size: 15px;
        line-height: 40px; /*background: url(../orders/images/price.readmore.png) no-repeat right -40px;*/
        padding: 0 40px;
    }

    .pricing_box p.button:hover {
        background-position: left -80px;
    }

    .pricing_box p.button a:hover {
        background-position: right -120px;
    }

.pricing_box.large {
    position: relative;
    z-index: 1;
    margin-top: -20px;
    -moz-box-shadow: 0 1px 10px #cbcbcb;
    -webkit-box-shadow: 0 1px 10px #cbcbcb;
    box-shadow: 0px 1px 10px #cbcbcb;
    padding: 0 0 40px 0;
    border-radius: 3px;
}

    .pricing_box.large .header { /*color: #303E0E;*/
        text-shadow: 0 1px 0 #2a9d00;
        height: 88px; /* background: url(../orders/images/price.bg.signup.png) repeat;*/
        background: none repeat scroll 0 0 #1F4F84;
        border-bottom: 1px solid #b2d850;
        color: #FFFFFF;
    }

        .pricing_box.large .header span span {
            top: 30px;
        }

.header {
    color: #303E0E;
    text-shadow: 0 1px 0 #1F4F84;
    height: 88px;
    background: url(../orders/images/price.bg.signup.png) repeat;
    border-bottom: 1px solid #b2d850;
}

    .header span {
        top: 30px;
    }

.pricing_box.large .header span.info {
    top: 14px;
    color: #576e1f;
    text-shadow: none;
}

.pricing_box.large p.button {
    background-position: left -160px;
    border-radius: 3px !important;
}

    .pricing_box.large p.button a {
        background-position: right -200px;
        color: #303E0E;
        text-shadow: 0 1px 0 #2a9d00;
        border-radius: 3px !important;
    }

    .pricing_box.large p.button:hover {
        background-position: left -240px;
        border-radius: 3px !important;
    }

    .pricing_box.large p.button a:hover {
        background-position: right -280px;
        border-radius: 3px !important;
    }

/* */
.pdimbutton {
    background-position: left -160px;
}

    .pdimbutton a {
        background: none repeat scroll 0 0 #CCCCCC;
        border-radius: 4px 4px 4px 4px;
        color: #3F4950;
        font-weight: normal;
        padding: 7px;
        font-size: 15px !important;
        font-weight: normal !important;
    }

    .pdimbutton span {
        font-weight: normal !important;
    }

    .pdimbutton :hover {
        background-position: left -240px;
    }

    .pdimbutton a:hover {
        background-position: right -280px;
    }
/*Buttons*/ p.button {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
}

    p.button a {
        float: left;
        line-height: 32px;
        *line-height: 28px;
        margin: 0-20px00!important;
        padding: 020px;
        height: 100%;
        border: none;
        cursor: pointer;
        color: #3f4950;
        font-size: 12px;
        text-shadow: 01px0#fff;
        text-decoration: none;
    }

        p.button a:hover {
            text-decoration: none;
        }

.pbutton {
    background-position: left -160px;
}

    .pbutton a {
        background: none repeat scroll 0 0 #FD8907;
        border-radius: 4px 4px 4px 4px;
        color: #FFFFFF;
        font-weight: normal;
        padding: 7px;
        text-shadow: 0 1px 0 #FD8907;
    }

    .pbutton :hover {
        background-position: left -240px;
    }

    .pbutton a:hover {
        background-position: right -280px;
    }
/*Buttons*/ p.button {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
}

    p.button a {
        float: left;
        line-height: 32px;
        *line-height: 28px;
        margin: 0-20px00!important;
        padding: 020px;
        height: 100%;
        border: none;
        cursor: pointer;
        color: #3f4950;
        font-size: 12px;
        text-shadow: 01px0#fff;
        text-decoration: none;
    }

        p.button a:hover {
            text-decoration: none;
        }

#backgroundPopup {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    border: 1px solid #cecece;
    z-index: 1;
}

#popupContact input { /*font-size:15px;width:248px;margin:7px;*/
}

#popupContact select {
    width: 252px;
    font-size: 15px;
    margin: 7px;
}

.highlightprice {
    color: gray !important;
    font-size: 22px !important;
    font-weight: bold !important;
}

#popupContact {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    min-height: 200px;
    width: 500px;
    z-index: 2;
    font-size: 13px;
}

    #popupContact h1 {
        text-align: left;
        color: #6FA5FD;
        font-size: 22px;
        font-weight: 700;
        border-bottom: 1px dotted #D3D3D3;
        padding-bottom: 2px;
        margin-bottom: 20px;
    }

#popupContactClose {
    display: block;
    position: absolute;
    right: 3px;
    z-index: 3;
    cursor: pointer;
}

.spndeldatehover {
    background-color: #1F4F84;
}

.btnclickContinueclass {
    background-color: #1F4F84;
    color: #FFFFFF !important;
}

.tooltipinner {
    margin: -10px 8px 8px 150px;
    padding: 8px;
    background-color: lightgray;
    border: 5px solid #1F4F84;
    position: absolute;
    z-index: 2;
    color: Black;
}

.arrowleft:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}

.arrowright:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    right: 10px;
    position: absolute;
    top: -6px;
}

.tblmenu {
    color: white !important;
    width: 100%;
}

    .tblmenu tr.normal:hover {
        background: none repeat scroll 0 0 #111111;
        cursor: pointer;
    }

        .tblmenu tr.normal:hover a {
            color: #ffffff;
        }

.topmenu span {
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    outline: none;
}

.topmenu:hover {
    text-decoration: none;
    outline: none;
    color: #1F4F84;
}

.topmenu:active {
    color: #1F4F84;
}

.user-data {
    color: #5584BA;
}

.sitelogo {
    margin-top: 0px;
}

.openpagetitle {
     clear: both;
    float: left;
    margin-bottom: -24px;
    margin-left: 17px;
    margin-top: 16px;
}

.radiobuttoncss label {
    font-size: 14px;
    color: #4F759F;
}

.ORDSCREEN {
    margin-right: 5px;
}

.STENCILONLYORDER {
    margin-right: 5px;
}

.VIEWRUNNINGORDER {
    margin-right: 5px;
}

.REPETEORD {
    margin-right: 5px;
}

.EXCEPOVERVIEW {
    margin-right: 5px;
}

.AddEditCustSpecification {
    margin-right: 5px;
}

.SHIPMENTRESCHEDULE {
    margin-right: 5px;
}

.TESTOK {
    margin-right: 5px;
}

.PLACEINQUIRY {
    margin-right: 5px;
}

.ONDEMANDINQUIRYTRACKING {
    background-repeat: no-repeat;
    margin-right: 5px;
}

.OFFERTRACKING {
    margin-right: 5px;
}

.CUSTOMERREPORT {
    margin-right: 5px;
}
/* added by ankita*/
.statusdetailrow {
}

.leftpadding {
    padding: 5px;
}

.gridpager .PageSize {
    padding-bottom: 3px;
    padding-top: 3px;
    width: 30px !important;
    height: 11px !important;
}

.brd-btm td { /*border-bottom: 1px solid #f4f4f4;*/
}

.brd-btm th { /*border-bottom: 1px solid #F4F4F4;*/
}

.datatbl { /*background:url(images/data-shadow.jpg) bottom no-repeat*/
}

    .datatbl td {
        padding: 3px 3px;
    }

.hilightDataheader {
    color: #4F759F;
}

.hilightdatatbl2 {
    color: #000;
    font-weight: bold;
}

.btnSearchButton { /*padding:3px 21px;*/
    margin-top: 2px;
}

.TechSpecCss {
    color: #4F759F !important;
    font-size: 14px !important;
    font-weight: bold;
}

.grid-offtheshelf {
    font-size: 8pt;
    font-weight: normal;
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: 1px dotted #525252;
    border-collapse: collapse;
}

    .grid-offtheshelf tr.normal {
        color: #717171;
        border-bottom: dotted 1px #c1c1c1;
        padding: 2px;
    }

    .grid-offtheshelf tr td {
        border-bottom: 1px dotted #c1c1c1;
        padding-right: 12px;
        color: #717171;
    }

/* complete*/
.footer a {
    color: #C9C7C7 !important;
}

.productDivBack {
    float: left;
    min-width: 760px;
    width: 50%;
}

.title_text_new {
    background-color: #EFEFEF;
    background-image: -moz-linear-gradient(center top, #FDFDFD 0%, #EAEAEA 100%);
    border-bottom: 2px solid #CDCDCD;
    color: #424242;
    font-size: 18px;
    padding: 5px 0 10px 10px;
}

.thm-txt-clr {
    color: #005c9c;
}

.BasketCounter {
    background: none repeat scroll 0 0 #479347 !important;
    border: medium none !important;
    color: #FFFFFF !important;
    font-size: 10px!important;
    font-weight: bold;
    text-align: center;
    width: 17px;
    border-radius: 4px 4px 4px 4px !important;
    float: right;
    border: 1px solid rgb(201, 201, 201);
    box-shadow: none;
    color: rgb(121, 121, 121);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    font: bold 100%/14px Arial,sans-serif;
    padding: 4px !important;
    position: relative;
    right: 0;
    cursor: pointer;
    margin: 4px 4px 0px 0px !important;
}

.InvoiceCounter {
    /*background: none repeat scroll 0 0 #EC7070 !important;*/
    background: none repeat scroll 0 0 #479347 !important;
    border: medium none !important;
    font: bold 10px Arial,sans-serif !important;
    text-align: center;
    width: 17px;
    border-radius: 2px 2px 2px 2px !important;
    margin-left: -7px;
    margin-top: -5px;
    float: right;
    /*top: 1px !important;margin-right: 10px !important;left: 105px; */
}

.imgaskq {
    vertical-align: middle;
    padding-right: 3px;
}

.headertxt {
    display: block;
    float: left;
    margin-left: 190px;
}

.innerleftmenu {
    margin-top: 0px !important;
}

#headertitle {
    margin-left: 190px !important;
}

.GridLinkColor {
    color: #4f759f !important;
}
.gwt-DialogBox {
    z-index: 111111;
}
#tableAssemby_desc tr td, #tableAssemby_desc tr.alternate td
        {
            border-bottom: solid 0px #c1c1c1;
                  padding-bottom: 7px;
                  font-weight: normal;
                  color:black;
                      margin-bottom: -13px;
        }
 #tableAssemby_desc tr td:nth-child(2)
        {
               color: black;
    font-weight: bold;
        }
 .BOM_header{
     font-weight: bold !important;
 }
 .CPL_header{
     font-weight: bold !important;
 }
 .BOM_seperator
 {
               border-right: 1px solid #dedede;
    height: 70px;
    padding-top: 18px;
        margin-left: -15px;
 }
 .BOM_inline{
     display: inline-flex;
 }
 .CPL_table_td{
         /*margin-left: 2px;*/
         padding: 0 !important;
         margin: 0px -3px 0px 2px !important;
 }
/*.ServiceButtonEPS
{
    background: -moz-linear-gradient(100% 100% 90deg, #AA3B2C, #D6670A) repeat scroll 0 0 transparent;
    background: #E8791C;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    clear: left;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    height: 26px;
    line-height: 43px;
    margin: 5px;
    padding: 4px 10px 6px;
    text-decoration: none;
}
    
.ServiceButtonEPS:hover {
        border-radius: 7px;
        background: #1F4F84 !important;
        box-shadow: none;
        color: #FFFFFF;
        text-decoration: none;
    }*/
/*Added dated on 8-Sep-15 for Tinyscroll*/
::-webkit-scrollbar-button {background-color: #fff;background-repeat: no-repeat;cursor: pointer;}
::-webkit-scrollbar-track {background-color: #fff;}
::-webkit-scrollbar-corner {background-color: #fff;}
::-webkit-scrollbar {height: 12px;width: 12px;}
::-webkit-scrollbar-thumb {border-radius: 9px;border: solid 3px #fff;background-color: #c8c8c8;}
::-webkit-scrollbar-thumb:vertical:hover {background-color: #666;}
::-webkit-scrollbar-thumb:horizontal:hover {background-color: #666;}